<div class="container">
  <div class="jumbotron text-center">
    <h1>Begin Group Rating Calculations</h1>
    <div>
      <%= form_tag group_rating_index_path, method: 'post' do %>

            <%= number_field_tag :process_representative %>

            <%= date_field_tag :experience_period_lower_date %>

            <%= date_field_tag :experience_period_upper_date %>

            <%= date_field_tag :current_payroll_period_lower_date %>


          <%= submit_tag 'Group Rating Step 1', class: 'btn btn-info dropdown-toggle' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
