<div class="container">
  <div class="jumbotron text-center">
    <h1>Group Rating Calculations</h1>
    <%= link_to 'Create New Group Rating', new_group_rating_path, class: 'btn btn-primary' %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Representative Name</th>
          <th>Import Status</th>
          <th>Group Rating Status</th>
          <th>Run Time</th>
          <th>Status Updated</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% @group_ratings.order("id desc").each do |group_rating| %>
        <tr>
          <td><%= @representatives.find(group_rating.representative_id).abbreviated_name %> </td>
          <td><%= group_rating.import.import_status %> </td></td>
          <td><%= group_rating.status %> </td>
          <td><%= group_rating.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
          <td><%= group_rating.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
          <td><%= link_to 'View Group Rating Info', group_rating_path(group_rating.id) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>



  </div>


</div>
