<div class="container">
  <div class="jumbotron text-center">
    <h1>Begin Group Rating Calculations</h1>
    <div>
      <%= form_for @group_rating do |f| %>

          <div class="form-group" >
            <%= f.label :process_representative %>
            <%= f.number_field :process_representative, value: '219406' %>
          </div>
          <div class="form-group" >
            <%= f.label :experience_period_lower_date %>
            <%= f.date_field :experience_period_lower_date, value: '2011-06-30' %>
          </div>
          <div class="form-group" >
            <%= f.label :experience_period_upper_date %>
            <%= f.date_field :experience_period_upper_date, value: '2015-06-30' %>
          </div>
          <div class="form-group">
            <%= f.label :current_payroll_period_lower_date %>
            <%= f.date_field :current_payroll_period_lower_date, value: '2014-07-01'  %>
          </div>

          <%= f.submit 'Group Rating Process', class: 'btn btn-info' %>
      <% end %>



    </div>
    </div>

  </div>
