<%= content_tag_for :div, @group_rating do %>
  <div class="container text-center">
    <div class="row">
      <!-- <%= link_to "Delete Group Rating", @group_rating, method: :delete, class: 'btn btn-primary' %> -->
      <div class="col-md-12">
        <h2><%= @representative.abbreviated_name %> </h2>
        <p></p>
      </div>
      <div class="col-md-6">
        <h4>Import Status</h4>
        <p><%= @import&.import_status %></p>
      </div>
      <div class="col-md-6">
        <h4>Group Rating Status</h4>
        <p><%= @group_rating.status %></p>
      </div>
      <div class="col-md-6">
        <h4>Experience Period Lower Date</h4>
        <p><%= @group_rating.experience_period_lower_date %></p>
      </div>
      <div class="col-md-6">
        <h4>Experience Period Upper Date</h4>
        <p><%= @group_rating.experience_period_upper_date %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Current Payroll Period Lower Date</h4>
        <p><%= @group_rating.current_payroll_period_lower_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Current Payroll Period Upper Date</h4>
        <p><%= @group_rating.current_payroll_period_upper_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Current Payroll Year</h4>
        <p><%= @group_rating.current_payroll_year %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Program Lower Date</h4>
        <p><%= @group_rating.program_year_lower_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Program Upper Date</h4>
        <p><%= @group_rating.program_year_upper_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Program Year</h4>
        <p><%= @group_rating.program_year %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4>Quote Lower Date</h4>
        <p><%= @group_rating.quote_year_lower_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Quote Upper Date</h4>
        <p><%= @group_rating.quote_year_upper_date %></p>
      </div>
      <div class="col-md-4">
        <h4>Quote Year</h4>
        <p><%= @group_rating.quote_year %></p>
      </div>
    </div>
  </div>

  <% if @import.present? %>
    <div class="container">
      <table class="table">
        <tr>
          <th>File Name</th>
          <th>Row Count</th>
        </tr>
        <tr>
          <td>Democ</td>
          <td><%= @import.democs_count %></td>
        </tr>
        <tr>
          <td>Mrcls</td>
          <td><%= @import.mrcls_count %></td>
        </tr>
        <tr>
          <td>Mremp</td>
          <td><%= @import.mremps_count %></td>
        </tr>
        <tr>
          <td>Pcomb</td>
          <td><%= @import.pcombs_count %></td>
        </tr>
        <tr>
          <td>Phmgn</td>
          <td><%= @import.phmgns_count %></td>
        </tr>
        <tr>
          <td>Sc230</td>
          <td><%= @import.sc230s_count %></td>
        </tr>
        <tr>
          <td>Rates</td>
          <td><%= @import.rates_count %></td>
        </tr>
        <tr>
          <td>Pdemo</td>
          <td><%= @import.pdemos_count %></td>
        </tr>
        <tr>
          <td>Pemh</td>
          <td><%= @import.pemhs_count %></td>
        </tr>
        <tr>
          <td>Pcovg</td>
          <td><%= @import.pcovgs_count %></td>
        </tr>
        <tr>
          <td>Democ Detail Records</td>
          <td><%= @import.democ_detail_records_count %></td>
        </tr>
        <tr>
          <td>Mrcls Detail Records</td>
          <td><%= @import.mrcl_detail_records_count %></td>
        </tr>
        <tr>
          <td>Mremp Employee Experience Policy Level</td>
          <td><%= @import.mremp_employee_experience_policy_levels_count %></td>
        </tr>
        <tr>
          <td>Mremp Employee Experience Manual Class Level</td>
          <td><%= @import.mremp_employee_experience_manual_class_levels_count %></td>
        </tr>
        <tr>
          <td>Mremp Employee Experience Claims Level</td>
          <td><%= @import.mremp_employee_experience_claim_levels_count %></td>
        </tr>
        <tr>
          <td>Pcomb Detail Records</td>
          <td><%= @import.pcomb_detail_records_count %></td>
        </tr>
        <tr>
          <td>Phmgn Detail Records</td>
          <td><%= @import.phmgn_detail_records_count %></td>
        </tr>
        <tr>
          <td>SC230 Record 1s</td>
          <td><%= @import.sc230_employer_demographics_count %></td>
        </tr>
        <tr>
          <td>SC230 Record 2s</td>
          <td><%= @import.sc230_claim_medical_payments_count %></td>
        </tr>
        <tr>
          <td>SC230 Record 3s</td>
          <td><%= @import.sc230_claim_indemnity_awards_count %></td>
        </tr>
        <tr>
          <td>Rates Detail Records</td>
          <td><%= @import.rate_detail_records_count %></td>
        </tr>
        <tr>
          <td>Pdemo detail Records</td>
          <td><%= @import.pdemo_detail_records_count %></td>
        </tr>
        <tr>
          <td>Pemh detail Records</td>
          <td><%= @import.pemh_detail_records_count %></td>
        </tr>
        <tr>
          <td>Pcovg detail Records</td>
          <td><%= @import.pcovg_detail_records_count %></td>
        </tr>
      </table>

    </div>
  <% end %>
<% end %>
