<div id="filter_representative_accounts">
  <div>
    <%= page_entries_info accounts %>
  </div>

  <table class="table table-hover table-condensed table-responsive" id="representativeAccountsTable">
    <thead>
      <tr class="header">
        <th></th>
        <th>Policy</th>
        <th>Account</th>
        <th>Account Status</th>
        <th>Group Rating Qual.</th>
        <th>Quoted Tier</th>
        <th>Group Retro Qual.</th>
        <th>Quoted Tier</th>
        <th>Group Fee</th>
      </tr>
    </thead>
    <tbody>
      <% accounts.order("representative_id asc, status desc, name asc").each do |account| %>
      <tr>
        <td><%= check_box_tag "", ""  %></td>
        <td><%= link_to "#{account.policy_calculation.policy_number}",account_path(account.id) %> </td>
        <td><%= account.try(:name).slice(0..25).try(:titleize) %> </td>
        <td><%= account.status.humanize %> </td>
        <td><%= account.group_rating_qualification == 'accept' ? account.group_rating_tier : account.group_rating_qualification %> </td>
        <td><%= account.quotes.find_by(program_type: 0).nil? ? "N/A" : "#{account.quotes.find_by(program_type: 0).quote_tier}" %></td>
        <td><%= account.group_retro_qualification == 'accept' ? account.group_retro_tier : account.group_retro_qualification %> </td>
        <td><%= account.quotes.find_by(program_type: 1).nil? ? "N/A" : "#{account.quotes.find_by(program_type: 1).quote_tier}" %></td>
        <td> <%= number_to_currency(account.group_fees, :precision => 0) %> </td>
      </tr>
      <% end %>

    </tbody>
  </table>

<%= will_paginate accounts %>
</div>
