<div id="filter_representative_accounts">

  <div>
    <%= page_entries_info accounts %>
  </div>
  <%= form_tag quote_accounts_quotes_path do %>
      <%= submit_tag "Generate Quotes for Selected", class: 'btn btn-success' %>
      <%= hidden_field_tag(:representative_id, @representative.id) %>
    <table class="table table-hover table-condensed table-responsive" id="representativeAccountsTable">
      <thead>
        <tr class="header">
          <th><a onclick="selectAll()">Select All</a></th>
          <th>Policy</th>
          <th>Account</th>
          <th>Status</th>
          <th>Group Rate Qual.</th>
          <th>Quoted Tier</th>
          <th>Group Retro Qual.</th>
          <th>Quoted Tier</th>
          <th>Group Fee</th>
        </tr>
      </thead>
      <tbody>
        <% accounts.order("representative_id asc, status desc, name asc").each do |account| %>
        <tr>
          <td><%= check_box_tag "account_ids[]", account.id %></td>
          <td><%= link_to "#{account.policy_calculation.policy_number}",account_path(account.id) %> </td>
          <td><%= account.try(:name).slice(0..20).try(:titleize) %> </td>
          <td><%= account.status.humanize %> </td>
          <td><%= account.group_rating_qualification == 'accept' ? account.group_rating_tier : account.group_rating_qualification %> </td>
          <td><%= account.quotes.find_by(program_type: 0).nil? ? "N/A" : "#{account.quotes.where(program_type: 0).last.quote_tier}" %></td>
          <td><%= account.group_retro_qualification == 'accept' ? account.group_retro_tier : account.group_retro_qualification %> </td>
          <td><%= account.quotes.find_by(program_type: 1).nil? ? "N/A" : "#{account.quotes.where(program_type: 1).last.quote_tier}" %></td>
          <td> <%= number_to_currency(account.group_fees, :precision => 0) %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <%= submit_tag "Generate Quotes for Selected", class: 'btn btn-success' %>
  <% end %>

<%= will_paginate accounts %>
</div>
