<%= render partial: "shared/account_navbar", locals: { object: @account } %>
<div class="container">
  <div class="row">
    <div class="col-md-1">
      <%= link_to 'Back', @account, class: 'btn btn-primary' %>
    </div>
    <div class="col-md-1 col-md-offset-8">
      <%= link_to 'Delete Quote', quote_path(params[:id]), method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this quote?'} %>
    </div>
  </div>
    <%= form_for @quote do |f| %>
    <h3>Quote Information</h3>
    <br>
      <%= link_to 'View PDF', @quote.quote_generated.url, class: 'btn btn-primary' %>
      <%= link_to 'Generate PDF Quote', quote_view_group_rating_quote_path(@quote, format: :pdf), class: 'btn btn-primary' %>

    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :status %>
          <%= f.select :status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: @quote.status), {} , class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <%= f.label :program_type %>
        <%= f.select :program_type, options_for_select(@program_types.collect { |s| [s[0].humanize, s[0]] }, selected: @quote.program_type), {} , class: "form-control"%>
      </div>
      <div class="col-md-3">
          <label>Invoice Number</label>
          <h4><%= @quote.invoice_number %></h4>
      </div>
      <div class="col-md-2">
        <%= f.label :fees %>
        <%= f.number_field :fees, class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.label :group_code %>
        <%= f.text_field :group_code, class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <label>Quote Period</label>
        <h4><%= @quote.quote_year_lower_date.strftime("%m/%d/%y") %> - <%= @quote.quote_year_upper_date.strftime("%m/%d/%y")  %> </h4>
      </div>
      <div class="col-md-2">
        <label>Quote creation date</label>
        <h4><%= @quote.created_at.strftime("%m/%d/%y") %></h4>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
            <%= f.label 'Quote sent:' %>
            <%= f.date_field :quote_sent_date, class: "form-control" %>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group" >
          <%= f.label 'ac2 Signed' %>
          <%= f.date_field :ac2_signed_on, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
          <%= f.label 'AC26 Signed:' %>
          <%= f.date_field :ac26_signed_on, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
          <%= f.label 'U153 Signed:' %>
          <%= f.date_field :u153_signed_on, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
          <%= f.label "Contract Signed:" %>
          <%= f.date_field :contract_signed_on, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group" >
          <%= f.label "Questionnaire Signed:" %>
          <%= f.date_field :questionnaire_signed_on, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Questionnaire 1" %>
          <%= f.check_box :questionnaire_question_1 %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Questionnaire 2" %>
          <%= f.check_box :questionnaire_question_2 %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Questionnaire 3"  %>
          <%= f.check_box :questionnaire_question_3 %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Questionnaire 4" %>
          <%= f.check_box :questionnaire_question_4 %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label "Questionnaire 5" %>
          <%= f.check_box :questionnaire_question_5 %>
        </div>
      </div>
    </div>

    <div class="form-group col-md-4  col-md-offset-4" >
      <%= f.submit 'Save', class: 'btn btn-info' %>
    </div>
    <%
   end %>
</div>
<div class="container">
    <div class="row">
      <h3>Quote Process</h3>
      <div class="col-md-3">
        <h4>Step 1</h4>
        <%= link_to 'Send Packet to Customer','#', class: 'btn btn-info' %>
      </div>
      <div class="col-md-1">
        <span class="glyphicon glyphicon-arrow-right" style="font-size:3.0em;"></span>
      </div>
      <div class="col-md-3">
        <h4>Step 2</h4>
        <% if @quote.quote_sent_date %>
        <%= link_to 'Enroll Account in Program', new_account_program_path(quote_id: @quote.id), class: 'btn btn-primary' %>
        <% else %>
        <%= link_to 'Enroll Account in Program', new_account_program_path(quote_id: @quote.id), class: 'btn btn-primary disabled'  %>
        <% end %>
      </div>

    </div>

</div>
