<div class="container">
  <div class="jumbotron text-center">
    <h2><%= @representative.abbreviated_name %>'s Quoting Process</h2>
      <%= link_to "Quote All #{@representative.abbreviated_name} Accounts", representative_all_quote_process_path(representative_id: @representative), class: 'btn btn-danger' %>
  </div>
</div>

<div class="container">
  <%= form_tag(quotes_path, :method => "get", id: "search-form") do %>
    <div class="form-inline">
      <div class="form-group">
        <%= hidden_field_tag(:representative_id, @representative.id) %>
        <%= select_tag(:status, options_from_collection_for_select(@statuses, :last, :first), include_blank: 'Account Status', class: 'form-control' ) %>
      </div>
      <div class="form-group">
        <%= select_tag(:group_rating_tier, options_for_select(@group_rating_tiers), include_blank: 'Qual. Rating Tier', class: 'form-control' ) %>
      </div>
      <div class="form-group">
        <%= select_tag(:group_retro_tier, options_for_select(@group_retro_tiers), include_blank: 'Qual. Retro Tier', class: 'form-control' ) %>
      </div>
      <%= submit_tag "Filter", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br>
</div>

<div class="container">
    <div id="filter_representative_accounts">

    <div>
      <%= page_entries_info @accounts %>
    </div>

    <table class="table table-hover table-condensed table-responsive" id="representativeAccountsTable">
      <thead>
        <tr class="header">
          <th></th>
          <th>Policy</th>
          <th>Account</th>
          <th>Status</th>
          <th>Group Rate Qual.</th>
          <th>Quoted Tier</th>
          <th>Group Retro Qual.</th>
          <th>Quoted Tier</th>
          <th>Group Fee</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.order("representative_id asc, status desc, name asc").each do |account| %>
        <tr>
          <td><%= check_box_tag "", ""  %></td>
          <td><%= link_to "#{account.policy_calculation.policy_number}",account_path(account.id) %> </td>
          <td><%= account.try(:name).slice(0..20).try(:titleize) %> </td>
          <td><%= account.status.humanize %> </td>
          <td><%= account.group_rating_qualification == 'accept' ? account.group_rating_tier : account.group_rating_qualification %> </td>
          <td><%= account.quotes.find_by(program_type: 0).nil? ? "N/A" : "#{account.quotes.where(program_type: 0).last.quote_tier}" %></td>
          <td><%= account.group_retro_qualification == 'accept' ? account.group_retro_tier : account.group_retro_qualification %> </td>
          <td><%= account.quotes.find_by(program_type: 1).nil? ? "N/A" : "#{account.quotes.where(program_type: 1).last.quote_tier}" %></td>
          <td> <%= number_to_currency(account.group_fees, :precision => 0) %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>

  <%= will_paginate @accounts %>
  </div>

  <!-- <%= render partial: 'quotes/representative_accounts', locals: {accounts: @accounts, representative: @representative} %> -->
</div>
