<div class="container">
  <div class="jumbotron text-center">
    <h2><%= @representative.abbreviated_name %>'s Quoting Process</h2>
      <!-- <%= link_to "Quote All #{@representative.abbreviated_name} Accounts", representative_all_quote_process_path(representative_id: @representative), class: 'btn btn-default' %> -->
      <%= link_to "Delete All #{@representative.abbreviated_name} Quotes", delete_all_quotes_quotes_path(representative_id: @representative), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete all quotes?' }  %>
  </div>
</div>

<div class="container">
  <%= form_tag(quotes_path, :method => "get", id: "search-form", remote: true) do %>
    <%= hidden_field_tag(:representative_id, @representative.id) %>
    <div class="form-inline">

        <%= select_tag(:status, options_from_collection_for_select(@statuses, :last, :first), include_blank: 'Account Status', class: 'form-control' ) %>

        <%= select_tag(:group_rating_tier, options_for_select(@group_rating_tiers), include_blank: 'Qual. Rating Qual', class: 'form-control' ) %>

        <%= select_tag(:qualify_equality_quote, options_for_select(["Qualify Better Than Quote", "Qualify Less Than Quote","Now Qualify", "Now Do Not Qualify"]), include_blank: 'Difference In Quote Discounts', class: 'form-control' ) %>

      <!-- <div class="form-group">
        <%= select_tag(:group_retro_tier, options_for_select(@group_retro_tiers), include_blank: 'Qual. Retro Qual', class: 'form-control' ) %>
      </div> -->

      <%= submit_tag "Filter", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br>
</div>

<div class="container">

  <%= render partial: 'quotes/representative_accounts', locals: {accounts: @accounts, representative: @representative, accounts_all: @accounts_all} %>
</div>
