
<div class="container">
  <%= render partial: "shared/account_navbar", locals: { object: @account } %>

  <div class="row">
    <%= link_to 'Back', @account, class: 'btn btn-primary' %>
  </div>

  <br/>
  <div class="jumbotron text-center">
    <h3>New Quote for <%= @account.name %> </h3>
    <br>
      <%= form_for [@quote] do |f| %>
      <%= f.hidden_field :account_id, value: @account.id %>
      <div class="row">
        <div class="form-group col-md-2" >
          <%= f.label :status %>
          <%= f.select :status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: 'quoted'), {} , class: "form-control" %>
        </div>
        <div class="form-group col-md-3" >
          <%= f.label :program_type %>
          <%= f.select :program_type, options_for_select(@program_types.collect { |s| [s[0].humanize, s[0]] }, selected: params[:program_type]), {} , class: "form-control" %>
        </div>
        <div class="form-group col-md-2" >
          <%= f.label :group_code %>
          <%= f.text_field :group_code, class: "form-control", value: params[:group_code] %>
        </div>
        <div class="form-group col-md-2" >
          <%= f.label :quote_tier %>
          <%= f.text_field :quote_tier, class: "form-control", value: params[:quote_tier] %>
        </div>
        <div class="form-group col-md-2" >
          <%= f.label :fees %>
          <%= f.number_field :fees, class: "form-control", value: params[:fees] %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <%= f.label :experience_period_lower_date %>
          <%= f.date_field :experience_period_lower_date, class:'form-control', value: @representative.experience_period_lower_date  %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :experience_period_upper_date %>
          <%= f.date_field :experience_period_upper_date, class:'form-control', value: @representative.experience_period_upper_date %>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <%= f.label :current_payroll_period_lower_date %>
          <%= f.date_field :current_payroll_period_lower_date, class:'form-control', value: @representative.current_payroll_period_lower_date %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :current_payroll_period_upper_date %>
          <%= f.date_field :current_payroll_period_upper_date, class:'form-control', value: @representative.current_payroll_period_upper_date %>
        </div>

      <div class="form-group col-md-3">
          <%= f.label :current_payroll_year %>
          <%= f.number_field :current_payroll_year, class:'form-control', min: '0', value: @representative.current_payroll_year %>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <%= f.label :program_year_lower_date %>
          <%= f.date_field :program_year_lower_date, class:'form-control', value: @representative.program_year_lower_date %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :program_year_upper_date %>
          <%= f.date_field :program_year_upper_date, class:'form-control', value: @representative.program_year_upper_date %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :program_year %>
          <%= f.number_field :program_year, class:'form-control', min: '0', value: @representative.program_year %>
        </div>

      </div>
      <div class="row">
        <div class="form-group col-md-3">
          <%= f.label :quote_year_lower_date %>
          <%= f.date_field :quote_year_lower_date, class:'form-control', value: @representative.quote_year_lower_date %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :quote_year_upper_date %>
          <%= f.date_field :quote_year_upper_date, class:'form-control', value: @representative.quote_year_upper_date %>
        </div>

        <div class="form-group col-md-3">
          <%= f.label :quote_year %>
          <%= f.number_field :quote_year, class:'form-control', min: '0', value: @representative.quote_year %>
        </div>

      </div>


      <div class="form-group col-md-4  col-md-offset-4" >
        <%= f.submit 'Generate Quote', class: 'btn btn-info' %>
      </div>
      <% end %>
  </div>
</div>
