
<div class="container">
  <%= render partial: "shared/account_navbar", locals: { object: @account } %>

  <div class="row">
    <%= link_to 'Back', @account, class: 'btn btn-primary' %>
  </div>

  <br/>
  <div class="jumbotron text-center">
    <h3>New Quote for <%= @account.name %> </h3>
    <br>
      <%= form_for [@quote] do |f| %>
      <%= f.hidden_field :account_id, value: @account.id %>
      <div class="row">
        <div class="form-group col-md-3 col-md-offset-1" >
          <%= f.label :program_type %>
          <%= f.select :program_type, options_for_select(@program_types.collect { |s| [s[0].humanize, s[0]] }, selected: params[:program_type]), {} , class: "form-control" %>
        </div>
        <div class="form-group col-md-3" >
          <%= f.label :status %>
          <%= f.select :status, options_for_select(@statuses.collect { |s| [s[0].humanize, s[0]] }, selected: 'quoted'), {} , class: "form-control" %>
        </div>
        <div class="form-group col-md-3" >
          <%= f.label :fees %>
          <%= f.number_field :fees, class: "form-control", value: params[:fees] %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-3 col-md-offset-1" >
          <%= f.label :effective_start_date %>
          <%= f.date_field :effective_start_date, class: "form-control", value: '2016-07-01' %>
        </div>
        <div class="form-group col-md-3" >
          <%= f.label :effective_end_date %>
          <%= f.date_field :effective_end_date, class: "form-control", value: '2017-06-30' %>
        </div>
        <div class="form-group col-md-3" >
          <%= f.label :quote_date %>
          <%= f.date_field :quote_date, class: "form-control", value: @current_date %>
        </div>
      </div>
      <div class="form-group col-md-4  col-md-offset-4" >
        <%= f.submit 'Generate Quote', class: 'btn btn-info' %>
      </div>
      <% end %>
  </div>
</div>
