<%= form_for [account, note] do |f| %>

  <div class="form-group col-md-2" >
    <%= f.label :category %>
    <%= f.select :category, options_for_select(@categories.collect { |s| [s[0].humanize.titleize, s[0]] }), {include_blank: "Choose Category"} , class: "form-control", required: true %>
  </div>

  <div class="form-group col-md-12" >
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group  col-md-12" >
    <%= f.label :description %>
    <%= f.trix_editor :description, required: true %>
  </div>

  <div class="form-group col-md-12">
    <%= f.label :attachment %>
    <%= f.file_field :attachment, onchange: 'validateFiles(this);', data: { max_file_size: 1.megabytes  } %>
  </div>

  <div class="form-group col-md-4 " >
    <%= f.submit 'Create Note', class: 'btn btn-info'  %>
  </div>

<% end %>
