<%= simple_form_for [@account, @note] do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.association :note_category, collection: @categories, value_method: :id, label_method: :title, include_blank: "Choose Category", label: 'Category' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4"><%= f.input :title %></div>
    <div class="col-sm-4"><%= f.input :date, as: :string, input_html: { class: 'datepicker' } %></div>
  </div>
  <%= f.input :description, as: :trix_editor %>
  <%= f.input :attachment, as: :file, onchange: 'validateFiles(this);', input_html: { data: { max_file_size: 1.megabytes } } %>
  <%= f.submit 'Submit', class: 'btn btn-info' %>
<% end %>


<script>
  $(function () {
    $('.datepicker').datetimepicker({
      format:     'YYYY-MM-DD hh:mm',
      useCurrent: false
    });
  });
</script>
