<%= simple_form_for [account, note] do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <%= f.input :category, collection: @categories, value_method: lambda { |cat| cat[0] }, label_method: lambda { |cat| cat[0].humanize&.titleize }, include_blank: "Choose Category" %>
    </div>
  </div>

  <%= f.input :title %>
  <%= f.input :description, as: :trix_editor %>
  <%= f.input :attachment, as: :file, onchange: 'validateFiles(this);', input_html: { data: { max_file_size: 1.megabytes } } %>
  <%= f.submit 'Create Note', class: 'btn btn-info' %>
<% end %>
