<h3>Notes - <%= link_to 'Add Note', new_account_note_path(account_id: @account.id), class: 'btn btn-success' %></h3>
  <% if notes.empty? %>
    <div class="container">
      <h5>No Notes have been added.</h5>
    </div>
  <% else %>
    <div class="table-responsive">
      <table class="table table-hover table-striped" id="accountNotesTable">
        <thead class="list-group active">
          <tr class="header">
            <th>Category</th>
            <th>Title</th>
            <th>Description</th>
            <th>User</th>
            <th>Created</th>
          </tr>
        </thead>
        <tbody>
          <% @notes.each do |note| %>
            <tr>
              <td class="col-sm-2"><%= note.category.titleize %></td>
              <% if note.attachment_url  %>
                <td class="col-sm-2"><%= sanitize(note.title.titleize.truncate(30), :tags=>[]) %> - <i class="fa fa-paperclip" aria-hidden="true"></i></td>
              <% else %>
                <td class="col-sm-2"><%= sanitize(note.title.titleize.truncate(30), :tags=>[]) %></td>
              <% end %>
              <td class="col-sm-3"><%= sanitize(note.description.truncate(40), :tags=>[]) %></td>
              <td class="col-sm-2"><%= note.user.email %></td>
              <td class="col-sm-2"><%= note.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y %I:%M %P") %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="container">
      <div class="row text-center">
        <%= link_to 'View All Notes', account_notes_path(@account), class: 'btn btn-default' %>
      </div>
    </div>
  <% end %>
