<%= render partial: "shared/account_navbar", locals: { object: @account } %>
<div class="container">
  <%= link_to 'Return to Account', account_path(@account.id), class: 'btn btn-default' %>


  <div class="row text-center">
    <h3>Notes for <%= @account.name %></h3>
  </div>

  <div class="row">
    <%= form_tag(account_notes_path(@account, group: @group, retention: @retention), :method => "get", id: "search-form", remote: true) do %>
      <div class="form-inline">
        <div class="form-group">
          <%= select_tag(:category_filter, options_for_select(@categories), include_blank: "All Categories", class: 'dropdown-toggle form-control') %>
        </div>
        <div class="form-group">
          <%= select_tag(:user_filter, options_from_collection_for_select(@users, :id, :email, params[:user_filter]), include_blank: "All Users", class: 'dropdown-toggle form-control') %>
        </div>

        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>

        <div class="pull-right">
          <%= link_to 'New Note', new_account_note_path(@account, group: @group, retention: @retention), class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>
    <br>
  </div>

  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row text-center">
          <div class="col col-sm-1">
          </div>
          <div class="col col-sm-2">
            <b>Category</b>
          </div>
          <div class="col col-sm-3">
            <b>Title</b>
          </div>
          <div class="col col-sm-3">
            <b>User</b>
          </div>
          <div class="col col-sm-3">
            <b>Created</b>
          </div>
        </div>
      </div>
    </div>
    <div id="filter_notes">
      <%= render 'notes', notes: @notes.sort_by { |note| note.is_pinned ? 0 : 1 }.sort_by { |note| !note.order_date } %>
    </div>
  </div>
</div>
