<%= content_tag_for :div, @note do %>
<%= render partial: "shared/account_navbar", locals: { object: @account } %>
  <div class="container">

    <%= link_to 'Return to Account', account_path(@account.id), class: 'btn btn-default' %>
    <div class="jumbotron">
      <div class="row text-center">
        <h4>Add Note:</h4>
        <h2><%= @account.name.titleize %></h2>
        <h3>(Policy Number: <%= @account.policy_number_entered %>)</h3>
      </div>

      <div class="row">
        <%= render partial: 'form', locals: { account: @account, note: @note } %>
      </div>
    </div>
  </div>
<% end %>
