
<div class="container">
  <%= render partial: "shared/account_navbar", locals: { object: @account } %>

  <div class="row">
    <%= link_to 'Back', @account, class: 'btn btn-primary' %>
  </div>

  <br/>
  <div class="text-center">
    <h3>Enroll <%= @account.name %> in <%= @quote.program_type.titleize %></h3>
    <br>
      <%= form_for [@account_program] do |f| %>
      <%= f.hidden_field :account_id, value: @account.id %>
      <%= f.hidden_field :quote_id, value: @quote.id %>
      <%= f.hidden_field :effective_start_date, value: @quote.quote_year_lower_date %>
      <%= f.hidden_field :effective_end_date, value: @quote.quote_year_upper_date %>
      <%= f.hidden_field :quote_date, value: @quote.quote_date %>
      <%= f.hidden_field :quote_sent_date, value: @quote.quote_sent_date %>
      <%= f.hidden_field :program_type, value: @quote.program_type %>
      <%= f.hidden_field :fees_amount, value: @quote.fees %>
      <%= f.hidden_field :quote_generated, value: @quote.quote_generated %>
      <%= f.hidden_field :invoice_number, value: @quote.invoice_number %>
      <%= f.hidden_field :group_code, value: @quote.group_code %>


      <div class="row">
        <div class="form-group col-md-2" >
          <p>Program Type</p>
          <h4> <%= @quote.program_type.titleize %> </h4>
        </div>
        <div class="form-group col-md-4" >
          <p>Program Period</p>
          <h4> <%= @quote.quote_year_lower_date.try(:strftime,"%B %d, %Y") %> - <%= @quote.quote_year_upper_date.try(:strftime,"%B %d, %Y") %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>Quoted Date</p>
          <h4> <%= @quote.quote_date.try(:strftime,"%m/%d/%y") %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>Quote Sent Date</p>
          <h4> <%= @quote.quote_sent_date.try(:strftime,"%m/%d/%y") %> </h4>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-2 col-md-offset-1" >
          <p>AC2 Signed On:</p>
          <h4> <%= @quote.ac2_signed_on.try(:strftime,"%m/%d/%y") || "N/A" %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>AC26 Signed On:</p>
          <h4> <%= @quote.ac26_signed_on.try(:strftime,"%m/%d/%y") || "N/A" %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>U153 Signed On:</p>
          <h4> <%= @quote.u153_signed_on.try(:strftime,"%m/%d/%y") || "N/A" %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>Contract Signed On::</p>
          <h4> <%= @quote.contract_signed_on.try(:strftime,"%m/%d/%y") || "N/A" %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>Questionnaire Signed On::</p>
          <h4> <%= @quote.questionnaire_signed_on.try(:strftime,"%m/%d/%y") || "N/A" %> </h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <p>Invoice Number</p>
          <h4> <%= @quote.invoice_number %> </h4>
        </div>
        <div class="form-group col-md-2" >
          <p>Fees Amount</p>
          <h4> <%= number_to_currency(@quote.fees) %> </h4>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :paid_amount %>
          <%= f.number_field :paid_amount, class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :check_number %>
          <%= f.number_field :check_number, class: "form-control" %>
        </div>
        <div class="form-group col-md-2">
          <%= f.label :program_paid_on %>
          <%= f.date_field :program_paid_on, class: "form-control" %>
        </div>
      </div>
      <div class="form-group col-md-4  col-md-offset-4" >
        <%= f.submit 'Program Enrollment', class: 'btn btn-info' %>
      </div>
      <% end %>
  </div>
</div>
