<div class="container">
  <div class="jumbotron">
    <h1>Policies Projection Calculations</h1>
    <%= link_to "Update Policies", create_policy_objects_final_policy_calculations_path %>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Policy Number</th>
          <th>Rep Number</th>
          <th>Run Time</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        <% @final_policy_calculations.each do |final_policy_calculation| %>
        <tr>
          <th scope="row"> <%= final_policy_calculation.policy_number %> </th>
          <td><%= final_policy_calculation.representative_number %> </td>
          <td><%= final_policy_calculation.created_at %> </td>
          <td><%= final_policy_calculation.policy_maximum_claim_value %> </td>

          <td><%= link_to 'View Group Rating Info', final_policy_calculation_path(final_policy_calculation.id) %></td>
        </tr>
        <% end %>

      </tbody>
    </table>



  </div>


</div>
