<%= simple_form_for [@claim_calculation, @note] do |f| %>
  <%= f.input :claim_calculation_id, as: :hidden %>
  <%= f.input :claim_number, as: :hidden %>
  <%= f.input :policy_number, as: :hidden %>
  <%= f.input :representative_number, as: :hidden %>

  <%= f.input :title %>
  <%= f.association :claim_note_category, label: 'Category', collection: ClaimNoteCategory.all, value_method: :id, label_method: :title, prompt: 'Choose One' %>
  <%= f.input :is_pinned, label: 'Pin Note?' %>
  <%= f.input :body, as: :trix_editor %>

  <div class="form-group text-right">
    <%= link_to 'Cancel', claim_calculation_path(@claim_calculation), class: 'btn btn-danger', data: { confirm: 'Are you sure you want to cancel saving this note?' } %>
    <%= f.submit 'Save', class: 'btn btn-success', data: { confirm: 'Are you sure you want to save this note?' } %>
  </div>
<% end %>