<%= content_tag_for :div, policy_calculation do %>
  <div class="container">
    <div class="row">
      <h3>Policy Information</h3>
      <div class="col-md-2">
        <h5>Policy Number</h5>
        <p><%= link_to "#{policy_calculation.policy_number}", policy_calculation_path(@policy_calculation.id), class: 'btn btn-primary '%></p>
      </div>
      <div class="col-md-2">
        <h5>Policy Status</h5>
        <p><%= policy_calculation.current_policy_status %></p>
      </div>
      <div class="col-md-2">
        <h5>Effective_date</h5>
        <p><%= policy_calculation.current_policy_status_effective_date %></p>
      </div>
      <div class="col-md-2">
        <h5>Industry Group</h5>
        <p><%= policy_calculation.policy_industry_group %></p>
      </div>
      <div class="col-md-2">
        <h5>Current Payroll</h5>
        <p><%= number_to_currency(policy_calculation.policy_total_current_payroll, precision: 0) %></p>
      </div>
      <div class="col-md-2">
        <h5>Individual Premium</h5>
        <p><%= number_to_currency(policy_calculation.policy_total_individual_premium, precision: 0) %></p>
      </div>
    </div>
  </div>
<% end %>
