<div class="jumbotron text-center">
  <div class="row">
    <div class="col-md-3">
      <h3>
        <small>Policy Number:</small>
      </h3>
      <h4><%= @account.policy_calculation.policy_number %></h4>
    </div>
    <div class="col-md-6">
      <h3>
        <small>Policy Name:</small>
      </h3>
      <h2><%= @account.policy_calculation&.business_name&.titleize %></h2>
    </div>
    <div class="col-md-3">
      <h3>
        <small>Account Status:</small>
      </h3>
      <h4><%= @account.status&.titleize %></h4>
      <h3>
        <small>Client Type:</small>
      </h3>
      <h4><%= @account.account_type&.titleize %></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h3>
        <small>Address:</small>
      </h3>
      <h4><%= @account.try(:street_address).try(:titleize) %>, <%= @account.try(:street_address_2).try(:titleize) %></h4>
      <h4> <%= @account.try(:city).try(:titleize) %>, <%= @account.try(:state) %> <%= @account.zip_code %></h4>
    </div>
    <div class="col-md-6">
      <h3>
        <small>Business Contact Name:</small>
      </h3>
      <h4><%= @account&.business_contact_name %></h4>
      <h3>
        <small>Business Phone Number:</small>
      </h3>
      <h4><%= @account&.business_phone_number %></h4>
      <h3>
        <small>Business Email:</small>
      </h3>
      <h4><%= @account&.business_email_address %></h4>
      <h3>
        <small>Business Website:</small>
      </h3>
      <h4><%= @account&.website_url %></h4>
    </div>
    <div class="col-md-3">
      <h3>
        <small>Updated On:</small>
      </h3>
      <h4><%= @account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y %I:%M %p") %></h4>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= link_to "Change History", versions_path(item_id: @policy_calculation.id, item_type: @policy_calculation.class.name), class: 'btn btn-info', method: :get %>

  <h2>Policy Premium Projections</h2>
  <div class="row text-center">
    <div class="col-md-3 col-sm-4 col-xs-6 ">
      <h5>Industry Group</h5>
      <p><%= @policy_calculation.policy_industry_group %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 ">
      <h5>Current Payroll</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_current_payroll) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 ">
      <h5>Std. | Adj. Premium</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_standard_premium, precision: 0) %> | <%= number_to_currency(@policy_calculation&.policy_adjusted_standard_premium, precision: 0) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6 ">
      <h5>Std. | Adj. Individual Premium</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_individual_premium) %> |  <%= number_to_currency(@policy_calculation.policy_adjusted_individual_premium) %></p>
    </div>
  </div>
</div>

<div class="container text-center">
  <h2>Policy Experience History</h2>
  <div class="row text-center">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Total Payroll</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_four_year_payroll) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Credibility Group</h5>
      <p><%= @policy_calculation.policy_credibility_group %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Credibility %</h5>
      <p><%= @policy_calculation.policy_credibility_percent %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Max Claim Value</h5>
      <p><%= number_to_currency(@policy_calculation.policy_maximum_claim_value) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>TEL</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_expected_losses) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>TLL</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_limited_losses) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Claim Count</h5>
      <p><%= @policy_calculation.policy_total_claims_count %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Group TML</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_modified_losses_group_reduced) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Ind TML</h5>
      <p><%= number_to_currency(@policy_calculation.policy_total_modified_losses_individual_reduced) %></p>
    </div>

    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Ind TM</h5>
      <p><%= @policy_calculation.policy_individual_total_modifier %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Ind EMR</h5>
      <p><%= @policy_calculation.policy_individual_experience_modified_rate %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Ind Adjusted EMR</h5>
      <p><%= number_with_precision(@policy_calculation&.policy_individual_adjusted_experience_modified_rate, precision: 2) %></p>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <h5>Group Ratio</h5>
      <p><%= @policy_calculation.policy_group_ratio %></p>
    </div>
  </div>
</div>


<div class="container text-center">
  <% original_modifier = number_with_precision(@policy_calculation.adjusted_total_modifier, precision: 2, delimiter: ',') %>
  <% original_modifier_as_percent = (original_modifier.to_f * 100.00).to_f %>
  <% min_modifier = original_modifier_as_percent.to_i - 4 %>
  <% max_modifier = original_modifier_as_percent.to_i + 4 %>
  <% if @policy_calculation.policy_credibility_percent.zero? || @policy_calculation.policy_total_limited_losses.zero? %>
    <% ntm = 0.0 %>
  <% else %>
    <% ntm = ((0.01 / @policy_calculation.policy_credibility_percent) * @policy_calculation.policy_total_limited_losses).round(0) %>
  <% end %>
  <% group_rating = GroupRating.find_by(process_representative: @policy_calculation.representative_number) %>
  <% experience_year_claims = @policy_calculation.claim_calculations.where("claim_injury_date BETWEEN ? AND ? ", group_rating.experience_period_lower_date, group_rating.experience_period_upper_date).order(:claim_injury_date) %>
  <% experience_group_modified_losses_total = experience_year_claims.sum(:claim_modified_losses_group_reduced) %>

  <h2>Individual Policy Discount Levels</h2>
  <div class="row text-center">
    <div class="col-md-9 col-xs-6 col-md-offset-1">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Individual TM%</th>
            <th>Losses</th>
            <th>Premium</th>
          </tr>
        </thead>
        <tbody>
          <% [*min_modifier..max_modifier].each_with_index do |modifier, index| %>
            <% new_mod = modifier - original_modifier_as_percent %>
            <% new_modifier = (modifier.to_f / 100.00).to_f %>
            <% mod_amount = new_mod * ntm %>
            <% new_premium = @policy_calculation.calculate_premium_for_risk(new_modifier) %>

            <tr style="<%= 'font-weight: 700;' if index == 4 %>">
              <td><%= number_with_precision(new_modifier, precision: 2, delimiter: ',') %>
              <td><%= number_with_precision(experience_group_modified_losses_total + mod_amount, precision: 2, delimiter: ',') %></td>
              <td><%= number_with_precision((!new_premium.present? || new_premium.zero?) ? 0.00 : new_premium, precision: 2, delimiter: ',') %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
