<div class="container">
  <div class="jumbotron">
    <h1>Policies Projection Calculations</h1>
  </div>

  <%= form_tag(policy_calculations_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Policy" %>
      <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
  <% end %>
  <div>
    <%= will_paginate @policy_calculations %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Policy Number</th>
          <th>Rep Number</th>
          <th>Status</th>

          <th>Group Tier</th>

          <th>Industry Group</th>
          <th>Current Payroll</th>
          <th>Est. Premium</th>

          <th>Updated Date</th>
        </tr>
      </thead>
      <tbody>
        <% @policy_calculations.order("policy_number asc").each do |policy_calculation| %>
        <tr>
          <th scope="row"> <%= link_to "#{policy_calculation.policy_number}", policy_calculation_path(policy_calculation.id), class: 'btn btn-info' %></th>
          <td><%= @representatives.find(policy_calculation.representative_id).abbreviated_name %> </td>
          <td><%= policy_calculation.policy_status %> </td>
          <td><%= policy_calculation.group_rating_tier %> </td>
          <td><%= policy_calculation.policy_industry_group %> </td>
          <td><%= number_to_currency(policy_calculation.policy_total_current_payroll) %> </td>
          <td><%= number_to_currency(policy_calculation.policy_total_standard_premium) %> </td>
          <td><%= policy_calculation.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <%= will_paginate @policy_calculations %>
  </div>


</div>
