<%= content_tag_for :div, @representative do %>
  <div class="container">
      <%= link_to 'Return to All Representatives', representatives_path, class: 'btn btn-default' %>

  </div>
  <!-- <% if policy(@representative).conversion? %>
  <div class="container text-center">
    <hr>
    <div class="row">
      <h3>Conversion Section - CSV</h3>
      <div class="col-md-3">
        <label><a href="#">Update Accounts</a></label>
        <br>
        <%= form_tag import_account_process_accounts_path, multipart: true do %>
        <%= file_field_tag :file, class: 'form-control' %>
        <br>
        <%= submit_tag "Import Accounts", class: 'form-control btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-3">
        <label><a href="#">Insert Contacts</a></label>
        <br>
        <%= form_tag import_contact_process_contacts_path, multipart: true do %>
        <%= file_field_tag :file, class: 'form-control' %>
        <br>
        <%= submit_tag "Import Contacts", class: 'form-control btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-3">
        <label><a href="#">Insert Affiliates</a></label>
        <br>
        <%= form_tag import_affiliate_process_affiliates_path, multipart: true do %>
        <%= file_field_tag :file, class: 'form-control' %>
        <br>
        <%= submit_tag "Import Affiliates", class: 'form-control btn btn-primary' %>
        <% end %>
      </div>
      <div class="col-md-3">
        <label><a href="#">Insert Program</a></label>
        <br>
        <%= form_tag import_account_program_process_account_programs_path, multipart: true do %>
        <%= file_field_tag :file, class: 'form-control' %>
        <br>
        <%= submit_tag "Import Programs", class: 'form-control btn btn-primary' %>
        <% end %>
      </div>
    </div>
    <hr>
  </div>
  <% end %> -->
  <div class="container">
    <div class="jumbotron text-center jumbotron-white">
      <div class="row">
        <div class="col-md-4">
          <h5>Representative Number:</h5>
          <h3><%= @representative.representative_number %></h3>
        </div>
        <div class="col-md-4">
          <h5>Representative:</h5>
          <h3><%= @representative.company_name %></h3>
        </div>
        <div class="col-md-4">
          <h5>abbreviated Name:</h5>
          <h3><%= @representative.abbreviated_name %></h3>
        </div>
      </div>
      <div class="row">
        <%= link_to "Add Logo", edit_representative_path(@representative), class: 'btn btn-primary' %>
      </div>
      <div class="row">

          <%= image_tag @representative.logo.url if @representative.logo? %>

      </div>
    </div>
    <hr>
  </div>
  <div class="container text-center">
    <div class="row">
      <h3>Processing</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>Run Worker's Comp Process</h5>
         <%= link_to "#{@representative.abbreviated_name} Group Rating", new_group_rating_path(representative_id: @representative.id), class: 'btn btn-default' %>
      </div>
    </div>
    <br>
    <hr>
  </div>
  <div class="container text-center">
    <div class="row">
      <h3>Quoting</h3>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h5>Group Rating Quotes</h5>
        <%= link_to "View Quoting", quotes_path(representative_id: @representative.id), class: 'btn btn-default'  %>
      </div>
      <!-- <div class="col-md-4">
        <h5>Create Group Rating Zip</h5>
        <%= link_to "Create Zip", representative_zip_file_path(representative_id: @representative.id), method: :post, class: 'btn btn-default'  %>
      </div> -->
      <div class="col-md-4">
        <% unless @representative.zip_file_url.nil? %>
        <h5>View Group Rating Zip</h5>

          <%= link_to "View Zip", @representative.zip_file.url, class: 'btn btn-default'  %>
        <% end %>
      </div>
    </div>
    <br>
    <hr>
  </div>
  <div class="container text-center">
    <div class="row">
      <h3>Statistics</h3>
    </div>
    <div class="row">
      <div class="col-md-3">
        <h4>Total Accounts</h4>
        <%= @accounts.count %>
      </div>
      <div class="col-md-3">
        <h4>Active</h4>
        <%= @accounts.active.count %>
      </div>
      <div class="col-md-3">
        <h4>Prospects</h4>
        <%= @accounts.prospect.count %>
      </div>
      <div class="col-md-3">
        <h4>Invalid</h4>
        <%= @accounts.invalid_policy_number.count %>
      </div>
    </div>
    <br>
    <hr>
  </div>
  <div class="container">
    <div class="jumbotron text-center jumbotron-white">
      <div class="row">
        <h3>Export Data</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <h5>Accounts</h5>
           <%= link_to "Account Export", representative_export_accounts_path(params[:id], format: "csv"), class: 'btn btn-default' %>
        </div>
        <div class="col-md-4">
          <h5>Manual Classes</h5>
          <%= link_to "Manual Class Export", representative_export_manual_classes_path(params[:id], format: "csv"), class: 'btn btn-default'  %>
        </div>
        <div class="col-md-4">
          <h5>Weekly 159 Requests</h5>
          <%= link_to "159 Export", representative_export_159_request_weekly_path(params[:id], format: "csv"), class: 'btn btn-default' %>
        </div>

        </div>
      </div>
    </div>
    <div class="container">
      <hr>
      <div class="row text-center">
        <h3>Users</h3>
        <% if policy(@representative).users_management? %>
          <%= link_to "Add Users", representative_users_management_path(representative_id: @representative.id), class: 'btn btn-success btn-sm' %>
        <% end %>
      </div>
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Logins</th>
            <th>Last Login</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.order("id asc").each do |user| %>
            <tr>
              <td><%= user.full_name %></td>
              <td><%= user.email %></td>
              <td><%= user.try(:role).try(:humanize) %></td>
              <td><%= user.sign_in_count %></td>
              <td><%= user.try(:last_sign_in_at).try(:strftime, "%-m/%-d/%y") %></td>
              <td><% if policy(@representative).users_management? %>
                  <%= link_to 'Remove', representatives_user_path(representative_id: @representative.id, user_id: user.id), method: :delete, class: 'btn btn-danger btn-sm' %>
                  <% end %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
    </div>
    <div class="container text-center">
      <div class="row">
        <h3>Import Data</h3>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <label><a href="https://s3.amazonaws.com/piarm/IMPORT_TEMPLATES/contacts_template.csv">Insert Contacts</a></label>
          <br>
          <%= form_tag representative_import_contact_process_path(@representative.id), multipart: true do %>
          <%= file_field_tag :file, class: 'form-control' %>
          <br>
          <%= submit_tag "Import Contacts", class: 'form-control btn btn-primary' %>
          <% end %>
        </div>
        <div class="col-md-4">
          <label><a href="https://s3.amazonaws.com/piarm/IMPORT_TEMPLATES/payroll_template.csv">Insert Payroll</a></label>
          <br>
          <%= form_tag representative_import_payroll_process_path(@representative.id), multipart: true do %>
          <%= file_field_tag :file, class: 'form-control' %>
          <br>
          <%= submit_tag "Import Payroll", class: 'form-control btn btn-primary' %>
          <% end %>
        </div>
        <div class="col-md-4">
          <label><a href="https://s3.amazonaws.com/piarm/IMPORT_TEMPLATES/claim_template.csv">Insert Claims</a></label>
          <br>
          <%= form_tag representative_import_claim_process_path(@representative.id), multipart: true do %>
          <%= file_field_tag :file, class: 'form-control' %>
          <br>
          <%= submit_tag "Import Claim", class: 'form-control btn btn-primary' %>
          <% end %>
        </div>

      </div>
    </div>
    <hr>
  </div>




<% end %>
