<div class="container">
  <%= link_to "Back", @representative, class: 'btn btn-default' %>
  <div class="jumbotron text-center jumbotron-white">
    <div class="row">
      <div class="col-md-4">
        <h5>Representative Number:</h5>
        <h3><%= @representative.representative_number %></h3>
      </div>
      <div class="col-md-4">
        <h5>Representative:</h5>
        <h3><%= @representative.company_name %></h3>
      </div>
      <div class="col-md-4">
        <h5>abbreviated Name:</h5>
        <h3><%= @representative.abbreviated_name %></h3>
      </div>
    </div>
  </div>

  <div class="row text-center">
    <h3>Current <%= @representative.company_name.titleize %> Users</h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Logins</th>
          <th>Last Login</th>
        </tr>
      </thead>
      <tbody>
        <% @representative_users.order("id asc").each do |user| %>
        <tr>
          <td><%= user.full_name %> </td>
          <td><%= user.email %> </td>
          <td><%= user.try(:role).try(:humanize) %> </td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.try(:last_sign_in_at).try(:strftime, "%-m/%-d/%y") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


  <div class="row text-center">
    <h3>Users to Add</h3>
    <%= link_to 'Create New User', new_user_path(representative_id: @representative.id) %>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Logins</th>
          <th>Last Login</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @available_users.order("id asc").each do |user| %>
        <tr>
          <td><%= user.full_name %> </td>
          <td><%= user.email %> </td>
          <td><%= user.role.try(:humanize) %> </td>
          <td><%= user.sign_in_count %></td>
          <td><%= user.try(:last_sign_in_at).try(:strftime, "%-m/%-d/%y") %></td>
          <td><%= link_to 'Add User', representatives_users_path(representative_id: @representative.id, user_id: user.id), method: :post, class: 'btn btn-success btn-sm' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
