
<table class="table table-hover">
  <%= page_entries_info group_rating_exceptions %>
  <thead>
    <tr>
      <th>Policy Number</th>
      <th>Account Name</th>
      <th>Exception Reason</th>
      <th>Representative</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
   <% group_rating_exceptions.order("representative_id").each do |group_rating_exception| %>
    <tr>
      <td><%= link_to "#{group_rating_exception.account.policy_number_entered}", account_path(group_rating_exception.account.id), class: 'btn btn-info' %> </td>
      <td><%= group_rating_exception.account.name %> </td>
      <td><%= group_rating_exception.exception_reason.humanize.titleize %> </td>
      <td><%= group_rating_exception.representative.abbreviated_name %> </td>
      <td><%= link_to 'resolve', group_rating_exception_resolve_path(group_rating_exception_id: group_rating_exception.id, group_rating_exceptions: group_rating_exceptions.ids), method: :post %></td>
    </tr>
  <% end %>

  </tbody>
</table>
<%= will_paginate group_rating_exceptions %>
