<div class="container">
  <div class="jumbotron text-center">
    <h1>Exceptions</h1>
  </div>
  <%= form_tag(group_rating_exceptions_path, :method => "get", id: "search-form", remote: true ) do %>
    <div class="form-inline">
      <div class="form-group">
        <%= select_tag(:representative_number, options_from_collection_for_select(@representatives, :representative_number, :abbreviated_name, params[:representative_number]), include_blank: "All Representatives", class: 'dropdown-toggle form-control')%>
      </div>
      <div class="form-group">
        <%= select_tag(:exception_reason, options_for_select(@exception_reasons), include_blank: "All Exceptions" ,class: 'dropdown-toggle form-control')%>
      </div>


    <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
    </div>

  <% end %>

    <div id="filter_exceptions">
      <%= render partial: 'group_rating_exceptions/list', locals: { group_rating_exceptions: @group_rating_exceptions } %>
    </div>


</div>
