<div class="container text-center">
  <br>
      <h2>Manual Class Premium Projections</h2>
      <div class="row text-center">
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h5>IG Premium Percentage</h5>
          <p><%= number_to_percentage(manual_class_calculation.manual_class_industry_group_premium_percentage) %></p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h5>Estimated Payroll</h5>
          <p><%= number_to_currency(manual_class_calculation.manual_class_current_estimated_payroll) %></p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h5>Modification Rate</h5>
          <p><%= manual_class_calculation.manual_class_modification_rate %></p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h5>Individual Premium</h5>
          <p><%= number_to_currency(manual_class_calculation.manual_class_estimated_individual_premium) %></p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6">
          <h5>Group Premium</h5>
          <p><%= number_to_currency(manual_class_calculation.manual_class_estimated_group_premium) %></p>
        </div>
  </div>
</div>
  <div class="container text-center">
    <br>
        <h2>Manual Class Experience History</h2>
        <div class="row text-center">
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Industry Group</h5>
            <p><%= manual_class_calculation.manual_class_industry_group %></p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Experience Payroll</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_four_year_period_payroll) %></p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Expected Loss Rate</h5>
            <p><%= manual_class_calculation.manual_class_expected_loss_rate %></p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Limited Loss Rate</h5>
            <p><%= manual_class_calculation.manual_class_limited_loss_rate %></p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Expected Losses</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_expected_losses) %></p>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <h5>Limited Losses</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_limited_losses) %></p>
          </div>
  </div>
</div>
