<div class="container text-center">
  <br>
  <h2><%= pluralize_without_count(manual_class_calculations.count, 'Manual Class') %></h2>
  <ul class="list-group">
    <div class="row list-group-item active hidden-sm hidden-xs ">
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Manual Number</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Industry Group</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Four Year Payroll</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Current Payroll</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Individual Premium</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Group Premium</h5>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Start Date</h5>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Manual Class Payroll</h5>
      </div>
    </div>

  <% manual_class_calculations.order("manual_number asc").each do |manual_class_calculation| %>
      <div class="row text-center list-group-item">
          <div class="col-md-1 col-sm-12 col-xs-12">
            <h5 class="hidden-md hidden-lg">Manual Number</h5>
            <p><%= link_to "#{manual_class_calculation.manual_number}", manual_class_calculation_path(manual_class_calculation.id) %></p>
          </div>
          <div class="col-md-1 col-sm-4 col-xs-6">
            <h5 class="hidden-md hidden-lg">Industry Group</h5>
            <p><%= manual_class_calculation.manual_class_industry_group %></p>
          </div>
          <div class="col-md-1 col-sm-4 col-xs-6">
            <h5 class="hidden-md hidden-lg">Four Year Payroll</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_four_year_period_payroll, precision: 0) %></p>
          </div>
          <div class="col-md-1 col-sm-4 col-xs-6">
            <h5 class="hidden-md hidden-lg">Current Payroll</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_current_estimated_payroll, precision: 0) %></p>
          </div>
          <div class="col-md-1 col-sm-4 col-xs-6">
            <h5 class="hidden-md hidden-lg">Est. Ind. Premium</h5>
            <p><%= number_to_currency(manual_class_calculation.manual_class_estimated_individual_premium) %></p>
          </div>
          <div class="col-md-1 col-sm-4 col-xs-6">
            <h5 class="hidden-md hidden-lg">IG %</h5>
            <p>
              <% if manual_class_calculation.manual_class_estimated_group_premium.nil? %>
                N/A
              <% else %>
                <%= number_to_currency(manual_class_calculation.manual_class_estimated_group_premium) %>
              <% end %>
            </p>
          </div>
          <div class="hidden-sm hidden-xs">
            <%= render partial: 'payroll_calculations/form_2', locals: { payroll_calculation: @new_payroll_calculation, manual_class_calculation: manual_class_calculation}%>
          </div>
      </div>
  <% end %>
  </ul>
</div>
