<%= content_tag_for :div, @manual_class_calculation do %>
  <div class="container ">
    <%= render partial: "shared/account_navbar", locals: { object: @account } %>
    <div>
      <!-- <%= link_to "Back to Policy: #{ @policy_calculation.policy_number }", policy_calculation_path(@manual_class_calculation.policy_calculation_id), class: 'btn btn-default' %> -->
    </div>
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-3">
          <h5>Policy Number:</h5>
          <h3><%= @policy_calculation.policy_number %></h3>
        </div>

        <div class="col-md-3">
          <h5>Policy Updated at:</h5>
          <h4><%= @policy_calculation.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %></h4>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <h2>Manual Number: <%= @manual_class_calculation.manual_number %></h2>
  </div>
  <div class="manual_class_information">
    <%= render partial: 'manual_class_calculations/manual_class_information', locals: { manual_class_calculation: @manual_class_calculation } %>
  </div>
  <div class="container text-center">
    <br>
    <h2><%= pluralize_without_count(@manual_class_calculation.payroll_calculations.count, 'Payroll Range') %></h2>
    <div class="payroll-calc">
      <%= render partial: 'payroll_calculations/manual_class_payroll', locals: { payroll_calculations: @payroll_calculations} %>
    </div>

  </div>

<%= render partial: 'payroll_calculations/form', locals: { payroll_calculation: @new_payroll_calculation, manual_class_calculation: @manual_class_calculation} %>

<% end %>
