<%= content_tag_for :div, @manual_class_calculation do %>

  <div class="container ">
    <div>
      <%= link_to "Back to Policy: #{ @policy_calculation.policy_number }", policy_calculation_path(@manual_class_calculation.policy_calculation_id), class: 'btn btn-default' %>
    </div>
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-3">
          <h5>Policy Number:</h5>
          <h3><%= @policy_calculation.policy_number %></h3>
        </div>

        <div class="col-md-6">
          <h2><%= @policy_calculation.business_name.titleize %></h2>
          <p><%=  @policy_calculation.address_1.titleize %>, <%=  @policy_calculation.address_2.titleize %><%=  @policy_calculation.city.titleize %>, <%= @policy_calculation.state %> <%= @policy_calculation.zip_code %></p>
        </div>
        <div class="col-md-3">
          <h5>Policy Updated at:</h5>
          <h4><%= @policy_calculation.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %></h4>
        </div>
      </div>
    </div>
  </div>




  <div class="container text-center">
    <h2>Manual Class Number: <%= @manual_class_calculation.manual_number %></h2>
    <div class="table-responsive">
      <table class="table">
        <caption align: "center"><h3>Manual Class Premium Projection</h3></caption>
        <thead>
          <tr>
            <th>Manual Number</th>
            <th>IG Premium Ratio</th>
            <th>Estimated Payroll</th>
            <th>Standard Premium</th>
            <th>Individual Premium</th>
            <th>Group Premium</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @manual_class_calculation.manual_number %></td>
            <td><%= @manual_class_calculation.manual_class_industry_group_premium_percentage %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_current_estimated_payroll) %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_standard_premium) %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_estimated_individual_premium) %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_estimated_group_premium) %></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="container text-center">

    <div class="table-responsive">
      <table class="table">
        <caption align: "center"><h3>Manual Class Experience History</h3></caption>
        <thead>
          <tr>
            <th>Manual Number</th>
            <th>Industry Group</th>
            <th>Experience Payroll</th>
            <th>Expected Loss Rate</th>
            <th>Base Rate</th>
            <th>Limited Loss Rate</th>
            <th>Expected Losses</th>

          </tr>
        </thead>

        <tbody>
          <tr>
            <td><%= @manual_class_calculation.manual_number %></td>
            <td><%= @manual_class_calculation.manual_class_industry_group %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_four_year_period_payroll) %></td>
            <td><%= @manual_class_calculation.manual_class_expected_loss_rate %></td>
            <td><%= @manual_class_calculation.manual_class_base_rate %></td>
            <td><%= @manual_class_calculation.manual_class_limited_loss_rate %></td>
            <td><%= number_to_currency(@manual_class_calculation.manual_class_expected_losses) %></td>
          </tr>
        </tbody>

      </table>
    </div>
  </div>

  <div class="container">
    <div class="table-responsive">
      <table class="table">
        <caption align: "center"><h3>Payroll History</h3></caption>
        <thead>
          <tr>
            <th>Effective Date</th>
            <th>Payroll Amount</th>
            <th>Payroll Origin</th>
            <th>Payroll Source</th>

          </tr>
        </thead>

        <tbody>
          <% @payroll_calculations.order("manual_class_effective_date desc").each do |payroll_calculation| %>
          <tr>
            <td> <%= payroll_calculation.manual_class_effective_date %></td>
            <td> <%= number_to_currency(payroll_calculation.manual_class_payroll) %></td>
            <td> <%= payroll_calculation.payroll_origin %></td>
            <td> <%= payroll_calculation.data_source %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>




<% end %>
