<div class="container text-center">
  <div class="jumbotron">
    <h1>Parse BWC Flat Files</h1>
    <h3>Parse all BWC Files into seperate tables</h3>
    <div>
        <% if @democ_detail_records.empty? %>
          <%= link_to 'Parse Democ Files', parse_democ_detail_records_path, method: :post,  class: 'btn btn-success' %>
        <% end %>
        <% if @mremp_employee_experience_policy_level.empty? %>
          <%= link_to 'Parse Mremp Files', parse_mremp_employer_experience_index_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
          <% if @mrcl_detail_records.empty? %>
          <%= link_to 'Parse Mrcl Files', parse_mrcl_detail_records_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
          <% if @pcomb_detail_records.empty? %>
          <%= link_to 'Parse Pcomb Files', parse_pcomb_detail_records_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
          <% if @phmgn_detail_records.empty? %>
          <%= link_to 'Parse Phmgn Files', parse_phmgn_detail_records_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
          <% if @sc220_rec1_employer_demographics.empty? %>
          <%= link_to 'Parse Sc220 Files', parse_sc220_employer_demographics_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
          <% if @sc230_employer_demographics.empty? %>
          <%= link_to 'Parse Sc230 Files', parse_sc230_employer_demographics_path, method: :post,  class: 'btn btn-success' %>
          <% end %>
        <% if @democ_detail_records_count != 0 && @mremp_employee_experience_policy_level_count != 0 && @mrcl_detail_records_count != 0 && @pcomb_detail_records_count != 0 && @phmgn_detail_records_count != 0 && @sc220_rec1_employer_demographics_count != 0 && @sc230_employer_demographics_count != 0 %>
          <%= link_to 'Move onto Group Rating Process', new_group_rating_path, class: 'btn btn-success' %>
        <% end %>
    </div>
  </div>
</div>



<div class="container">

  <table class="table">
    <tr>
      <th>Table Name</th>
      <th>Row Count</th>
      <th>Last Imported</th>
    </tr>
    <tr>
      <td>Democ Detail Records</td>
      <td><%= @democ_detail_records_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Mrcls Detail Records</td>
      <td><%= @mrcl_detail_records_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Mremp Employee Experience Policy Level</td>
      <td><%= @mremp_employee_experience_policy_level_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Mremp Employee Experience Manual Class Level</td>
      <td><%= @mremp_employee_experience_manual_class_level_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Mremp Employee Experience Claims Level</td>
      <td><%= @mremp_employee_experience_claim_level_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Pcomb Detail Records</td>
      <td><%= @pcomb_detail_records_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>Phmgn Detail Records</td>
      <td><%= @phmgn_detail_records_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC220 Record 1s</td>
      <td><%= @sc220_rec1_employer_demographics_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC220 Record 2s</td>
      <td><%= @sc220_rec2_employer_manual_level_payrolls_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC220 Record 3s</td>
      <td><%= @sc220_rec3_employer_ar_transactions_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC220 Record 4s</td>
      <td><%= @sc220_rec4_policy_not_founds_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC230 Record 1s</td>
      <td><%= @sc230_employer_demographics_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC230 Record 2s</td>
      <td><%= @sc230_claim_medical_payments_count %></td>
      <td></td>
    </tr>
    <tr>
      <td>SC230 Record 3s</td>
      <td><%= @sc230_claim_indemnity_awards_count %></td>
      <td></td>
    </tr>
  </table>
  <div>
      <% if @democ_detail_records_count != 0 || @mremp_employee_experience_policy_level_count != 0 || @mrcl_detail_records_count != 0 || @pcomb_detail_records_count != 0 || @phmgn_detail_records_count != 0 || @sc220_rec1_employer_demographics_count != 0 || @sc230_employer_demographics_count != 0 %>
        <%= link_to 'Delete Parse Tables', parse_index_path, method: :delete, class: 'btn btn-danger' %>
      <% end %>
  </div>
    <br>
</div>
