<%= simple_form_for @user do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-sm-6">
      <%= f.input :last_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :email, as: :email %>
    </div>
    <div class="col-sm-6">
      <%= f.input :role, collection: User.roles, label_method: lambda { |role| role[0].titleize }, value_method: lambda { |role| role[0] }, input_html: { class: 'select2' } %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <%= f.input :password %>
    </div>
    <div class="col-sm-6">
      <%= f.input :password_confirmation %>
    </div>
  </div>

  <%= f.input :representatives, collection: Representative.all, label_method: :abbreviated_name, value_method: :id, input_html: { multiple: true, class: 'select2' } %>

  <div class="text-right">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>


<script>
  $(function () {
    $(".select2").select2({
      theme: "bootstrap"
    });
  });
</script>