<nav class="navbar account-header navbar-inverse navbar-fixed-top ">
  <div class="container-fluid">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-4">
              <p class="navbar-text">Account: <%= link_to "#{@account.name}", account_path(@account) %></p>
            </div>
            <div class="col-md-4">
              <p class="navbar-text">Policy: <%= link_to "#{@account.policy_calculation.policy_number}", policy_calculation_path(@account.policy_calculation) %></p>
            </div>
            <!-- <div class="col-md-3">
              <p class="navbar-text">Representative: <%= @account.representative.abbreviated_name %></p>
            </div> -->
            <div class="col-md-2">
              <p class="navbar-text">Account: <%= @account.status.humanize %></p>
            </div>
            <div class="col-md-2">
              <p class="navbar-text">Policy: <%= @account.policy_calculation.current_coverage_status.humanize %></p>
            </div>
          </div>
        <!-- </ul> -->
        </div>
    </div>
</nav>
