<div class="container text-center">
  <div class="jumbotron">
    <h1>Import BWC Flat Files</h1>
    <div>
        <h3>Import all BWC files from Amazon S3</h3>
         <%= link_to 'Start New Import', new_import_path, class: 'btn btn-success' %>
    </div>
  </div>
</div>


<div class="container">

  <table class="table">
    <thead>
      <tr>
        <th>Representative Name</th>
        <th>Import Status</th>
        <th>Run Time</th>
        <th>View</th>
      </tr>
    </thead>
    <tbody>
      <% @imports.order("id desc").each do |import| %>
      <tr>
        <td><%= @representatives.find(import.representative_id).abbreviated_name %> </td>
        <td><%= import.import_status %> </td>
        <td><%= import.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
        <td><%= link_to 'View Import Info', import_path(import.id) %></td>
      </tr>
      <% end %>

    </tbody>
  </table>

  

</div>
