<%= content_tag_for :div, @import do %>
  <div class="container">

    <h1 class="text-center">Import id: <%= @import.id %></h1>
    <h3 class="text-center">Import Process Rep: <%= @representative.abbreviated_name %></h3>
    <h3 class="text-center">Import Status: <%= @import.import_status %></h3>
    <h3 class="text-center">Parse Status: <%= @import.parse_status %></h3>
    <h3 class="text-center">Import Run Date: <%= @import.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p")%></h3>

    <%= link_to "Delete Import", @import, method: :delete %>
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <th>File Name</th>
        <th>Row Count</th>
      </tr>
      <tr>
        <td>Democ</td>
        <td><%= @import.democs_count %></td>
      </tr>
      <tr>
        <td>Mrcls</td>
        <td><%= @import.mrcls_count %></td>
      </tr>
      <tr>
        <td>Mremp</td>
        <td><%= @import.mremps_count %></td>
      </tr>
      <tr>
        <td>Pcomb</td>
        <td><%= @import.pcombs_count %></td>
      </tr>
      <tr>
        <td>Phmgn</td>
        <td><%= @import.phmgns_count %></td>
      </tr>
      <tr>
        <td>Sc220</td>
        <td><%= @import.sc220s_count %></td>
      </tr>
      <tr>
        <td>Sc230</td>
        <td><%= @import.sc230s_count %></td>
      </tr>
      <tr>
        <td>Democ Detail Records</td>
        <td><%= @import.democ_detail_records_count %></td>
      </tr>
      <tr>
        <td>Mrcls Detail Records</td>
        <td><%= @import.mrcl_detail_records_count %></td>
      </tr>
      <tr>
        <td>Mremp Employee Experience Policy Level</td>
        <td><%= @import.mremp_employee_experience_policy_levels_count %></td>
      </tr>
      <tr>
        <td>Mremp Employee Experience Manual Class Level</td>
        <td><%= @import.mremp_employee_experience_manual_class_levels_count %></td>
      </tr>
      <tr>
        <td>Mremp Employee Experience Claims Level</td>
        <td><%= @import.mremp_employee_experience_claim_levels_count %></td>
      </tr>
      <tr>
        <td>Pcomb Detail Records</td>
        <td><%= @import.pcomb_detail_records_count %></td>
      </tr>
      <tr>
        <td>Phmgn Detail Records</td>
        <td><%= @import.phmgn_detail_records_count %></td>
      </tr>
      <tr>
        <td>SC220 Record 1s</td>
        <td><%= @import.sc220_rec1_employer_demographics_count %></td>
      </tr>
      <tr>
        <td>SC220 Record 2s</td>
        <td><%= @import.sc220_rec2_employer_manual_level_payrolls_count %></td>
      </tr>
      <tr>
        <td>SC220 Record 3s</td>
        <td><%= @import.sc220_rec3_employer_ar_transactions_count %></td>
      </tr>
      <tr>
        <td>SC220 Record 4s</td>
        <td><%= @import.sc220_rec4_policy_not_founds_count %></td>
      </tr>
      <tr>
        <td>SC230 Record 1s</td>
        <td><%= @import.sc230_employer_demographics_count %></td>
      </tr>
      <tr>
        <td>SC230 Record 2s</td>
        <td><%= @import.sc230_claim_medical_payments_count %></td>
      </tr>
      <tr>
        <td>SC230 Record 3s</td>
        <td><%= @import.sc230_claim_indemnity_awards_count %></td>
      </tr>
    </table>

  </div>


<% end %>
