<%= content_tag_for :div, @import do %>
  <div class="container">

    <h1 class="text-center">Import id: <%= @import.id %></h1>
    <h3 class="text-center">Import Process Rep: <%= @representative.abbreviated_name %></h3>
    <h3 class="text-center">Import Status: <%= @import&.import_status %></h3>
    <h3 class="text-center">Parse Status: <%= @import.parse_status %></h3>
    <h3 class="text-center">Import Run Date: <%= @import.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p")%></h3>

    <%= link_to "Delete Import", @import, method: :delete %>
  </div>




<% end %>
