<%= content_tag_for :div, @import do %>
  <div class="container">

    <h1 class="text-center">Import id: <%= @import.id %></h1>
    <h3 class="text-center">Import Process Rep: <%= @import.process_representative %></h3>
    <h3 class="text-center">Import Status: <%= @import.import_status %></h3>
    <h3 class="text-center">Parse Status: <%= @import.parse_status %></h3>
    <h3 class="text-center">Import Run Date: <%= @import.created_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p")%></h3>

    <%= link_to "Delete Import", @import, method: :delete %>
  </div>

  <div class="container">
    <table class="table">
      <tr>
        <th>File Name</th>
        <th>Row Count</th>
      </tr>
      <tr>
        <td>Democ</td>
        <td><%= @import.democs_count %></td>
      </tr>
      <tr>
        <td>Mrcls</td>
        <td><%= @import.mrcls_count %></td>
      </tr>
      <tr>
        <td>Mremp</td>
        <td><%= @import.mremps_count %></td>
      </tr>
      <tr>
        <td>Pcomb</td>
        <td><%= @import.pcombs_count %></td>
      </tr>
      <tr>
        <td>Phmgn</td>
        <td><%= @import.phmgns_count %></td>
      </tr>
      <tr>
        <td>Sc220</td>
        <td><%= @import.sc220s_count %></td>
      </tr>
      <tr>
        <td>Sc230</td>
        <td><%= @import.sc230s_count %></td>
      </tr>
    </table>

  </div>


<% end %>
