<%= form_for payroll_calculation do |f| %>
          <%= f.hidden_field :manual_class_calculation_id, value: "#{manual_class_calculation.id}" %>
          <%= f.hidden_field :manual_number, value: "#{manual_class_calculation.manual_number}" %>
          <%= f.hidden_field :policy_number, value: "#{manual_class_calculation.policy_number}" %>
          <%= f.hidden_field :representative_number, value: "#{manual_class_calculation.representative_number}" %>
          <%= f.hidden_field :payroll_origin, value: "payroll_adjustment" %>
          <%= f.hidden_field :data_source, value: "user_adjustment" %>
          <div class="col-md-2 col-sm-4 col-xs-6">
            <div class="form-group" >
              <%= f.date_field :manual_class_effective_date, class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-2 col-sm-4 col-xs-6 ">
            <div class="form-group" >
              <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
              <%= f.number_field :manual_class_payroll, class: 'form-control' %>
            </div>
          </div>
            <div class="col-md-1 col-sm-4 col-xs-6">
            <%= f.submit "Adjust", class: 'btn btn-info' %>
          </div>
<% end %>
