<div class="container">
  <h5>*Cross Check All inserts and updates are of current accounts in Group Rating App by exporting accounts in representatives section*</h5>
  <div class="row">
    <h4>1) Import a CSV File for Account Update - <%= link_to 'View Template', '#', class: 'btn btn-info btn-sm disabled' %></h4>
    <%= form_tag import_account_process_accounts_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <%= submit_tag "Import Accounts CSV" %>
    <% end %>
  </div>
  <div class="row">
    <h4>2) Import a CSV File for Contacts Insert - <%= link_to 'View Template', '#', class: 'btn btn-info btn-sm disabled' %></h4>
    <%= form_tag import_contact_process_contacts_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Import Contacts CSV" %>
    <% end %>
  </div>

  <div class="row">
    <h4>3) Import a CSV File for Affiliates Insert - <%= link_to 'View Template', '#', class: 'btn btn-info btn-sm disabled' %></h4>
    <%= form_tag import_affiliate_process_affiliates_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Import Affiliates CSV" %>
    <% end %>
  </div>

  <div class="row">
    <h4>3) Import a CSV File for Account Program Insert - <%= link_to 'View Template', '#', class: 'btn btn-info btn-sm disabled' %></h4>
    <%= form_tag import_account_program_process_account_programs_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <%= submit_tag "Import Account Program CSV" %>
    <% end %>
  </div>


</div>
