<br>
<h3>Affiliates - <%= link_to 'Add Affiliates', new_account_affiliate_path(@account), class: "btn btn-success btn-sm" %></h3>

<div class="table-responsive">
  <% unless affiliates.any? %>
    <div class="container">
      <h5>No Affiliates have been added.</h5>
    </div>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Role</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company Name</th>
          <th>Email</th>
          <th>External Id</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% affiliates.find_each do |affiliate| %>
          <tr>
            <td> <%= affiliate.role.titleize %></td>
            <td> <%= affiliate.first_name %></td>
            <td> <%= affiliate.last_name %></td>
            <td> <%= affiliate.company_name %></td>
            <td> <%= affiliate.email_address %></td>
            <td> <%= affiliate.external_id %></td>
            <td>
              <%= link_to 'Edit', edit_account_affiliate_path(@account, affiliate) %>
              '  |
              <%= link_to 'Delete', account_affiliate_path(@account, affiliate), method: :delete, data: { confirm: 'Are you sure you want to delete this affiliate?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<br>
