
  <div class="container">

    <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    <div class="container">
      <h3>Add Current Affiliate to <%= @account.name %> </h3>
      <%= form_for :account, :url => account_assign_path(@account), :html => { :method => "post" } do |t| %>

        <div class="row">
          <%= t.select :id, @affiliates.collect {|x| [x.first_name + ' ' + x.last_name, x.id]}, {include_blank: "none"}, class: "form-control" %>
        </div>

        <div class="form-group col-md-4  col-md-offset-4" >
          <%= t.submit 'Assign Affiliate', class: 'btn btn-info' %>
        </div>

      <% end %>
    </div>

    <br>

    <div class="container">


    <%= form_for @affiliate do |f| %>
    <h3>Create New Affiliate for <%= @account.name  %></h3>
      <div class="row">
        <%= f.hidden_field :account_id, value: "#{@account.id}" %>

      <div class="form-group col-md-2">
        <%= f.label :role %>
        <%= f.select :role, options_for_select(@roles.collect { |s| [s[0].humanize, s[0]] }), {} , class: "form-control" %>
      </div>

      <div class="form-group col-md-2" >
        <%= f.label :first_name %>
        <%= f.text_field :first_name, class: "form-control" %>
      </div>

      <div class="form-group col-md-2" >
        <%= f.label :last_name %>
        <%= f.text_field :last_name, class: "form-control" %>
      </div>

      <div class="form-group col-md-2" >
        <%= f.label :email_address %>
        <%= f.email_field :email_address, class: "form-control" %>
      </div>

      <div class="form-group col-md-2" >
        <%= f.label "Salesforce ID" %>
        <%= f.text_field :salesforce_id, class: "form-control" %>
      </div>

      <div class="form-group col-md-4  col-md-offset-4" >
        <%= f.submit 'Create Affiliate', class: 'btn btn-info' %>
      </div>

      </div>
    <% end %>
    </div>
  </div>
