<div class="container text-center">
  <br>
  <h2><%= pluralize_without_count(claims.count, 'BWC Claim') %></h2>
  <ul class="list-group">
    <div class="row list-group-item active hidden-sm hidden-xs ">
      <div class="col-md-2 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Claim Number</h5>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Claimant Name</h5>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Injury Date</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Handicap Percent</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Manual Number</h5>
      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Unlimited Limited Loss</h5>

      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Mod. Losses Group</h5>

      </div>
      <div class="col-md-1 col-sm-4 col-xs-6 hidden-sm hidden-xs">
        <h5>Mod. Losses Individual</h5>
      </div>
    </div>

  <% claims.each do |claim| %>
    <div class="row text-center list-group-item">
      <div class="col-md-2 col-sm-12 col-xs-12 ">
        <h5 class="hidden-md hidden-lg">Claim Number</h5>
        <p><%= claim.claim_number %></p>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 ">
        <h5 class="hidden-md hidden-lg">Claimant Name</h5>
        <p><%= claim.claimant_name %></p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 ">
        <h5 class="hidden-md hidden-lg">Injury Date</h5>
          <p><%= claim.claim_injury_date %></p>
        </div>
      <div class="col-md-1 col-sm-4 col-xs-6 ">
        <h5 class="hidden-md hidden-lg">Handicap Percent</h5>
          <p><%=  number_to_percentage(claim.claim_handicap_percent * 100, precision: 0) %></p>
      </div>
        <div class="col-md-1 col-sm-4 col-xs-6 ">
          <h5 class="hidden-md hidden-lg">Manual Number</h5>
          <p><%= claim.claim_manual_number %></p>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-6 ">
          <h5 class="hidden-md hidden-lg">Unlimited Loss</h5>
          <p><%= number_to_currency(claim.claim_unlimited_limited_loss) %></p>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-6 ">
          <h5 class="hidden-md hidden-lg">Group Reduced</h5>
          <p><%= number_to_currency(claim.claim_modified_losses_group_reduced) %></p>
        </div>
        <div class="col-md-1 col-sm-4 col-xs-6 ">
          <h5 class="hidden-md hidden-lg">Individual Reduced</h5>
          <p><%= number_to_currency(claim.claim_modified_losses_individual_reduced) %></p>
        </div>
      </div>
        <% end %>
</div>
