<%= content_tag_for :div, @claim_calculation do %>
  <div class="container">
    <%= render 'shared/account_navbar', object: @account %>
  </div>

  <div class="container claim-container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Claim Information for: <%= @claim_calculation&.claimant_name&.titleize %></div>
          <div class="panel-body">
            <table style="width:100%;">
              <tbody>
                <tr>
                  <td class="text-bold">IW Name:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.claimant_name&.titleize %>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Address:</td>
                  <td class="text-right">
                    <%= simple_format(@claim_calculation.address&.address, {}, wrapper_tag: :div) %>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-transparent text-primary" style="display: inline-block;" data-toggle="modal" data-target="#address-modal"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Claim Number:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.claim_number %>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Date of Injury:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.mira_detail_record&.claim_injury_date.try(:strftime, "%b %d, %Y") %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Medical</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_medical_paid, precision: 0) %></dd>

              <dt>Last Paid Date:</dt>
              <dd><%= @claim_calculation&.medical_last_paid_date&.strftime("%b %d, %Y") %></dd>

              <dt>Reserve:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_medical_reserve_amount, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Indemnity
            <%= link_to 'Export', claim_calculation_export_path(@claim_calculation, format: :pdf), class: 'btn btn-sm btn-success pull-right', target: '_blank', style: 'margin-top: -5px;' %>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Reducible Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_reducible_indemnity_paid, precision: 0) %></dd>

              <% unless @claim_calculation&.claim_mira_non_reducible_indemnity_paid.zero? %>
                <dt>Non Reducible Amount 1:</dt>
                <dd><%= number_to_currency(@claim_calculation&.claim_mira_non_reducible_indemnity_paid, precision: 0) %></dd>
              <% end %>

              <% unless @claim_calculation&.claim_mira_non_reducible_indemnity_paid_2.zero? %>
                <dt>Non Reducible Amount 2:</dt>
                <dd><%= number_to_currency(@claim_calculation&.claim_mira_non_reducible_indemnity_paid_2, precision: 0) %></dd>
              <% end %>

              <dt>Last Paid Date:</dt>
              <dd><%= @claim_calculation&.indemnity_last_paid_date&.strftime("%b %d, %Y") %></dd>

              <dt>Reserve:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_indemnity_reserve_amount, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Subrogation</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Percentage:</dt>
              <dd><%= number_to_percentage(@claim_calculation&.claim_subrogation_percent * 100, precision: 0) %></dd>

              <dt>Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_total_subrogation_collected, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Settlement</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Is Settled:</dt>
              <dd><%= @claim_calculation&.settled_claim %></dd>

              <dt>Type:</dt>
              <dd><%= @claim_calculation&.settlement_type %></dd>

              <dt>Medical Settlement Date:</dt>
              <dd><%= @claim_calculation&.medical_settlement_date&.strftime("%b %d, %Y") %></dd>

              <dt>Indemnity Settlement Date:</dt>
              <dd><%= @claim_calculation&.indemnity_settlement_date&.strftime("%b %d, %Y") %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Handicap</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Percentage:</dt>
              <dd><%= number_to_percentage(@claim_calculation&.claim_handicap_percent * 100, precision: 0) %></dd>

              <dt>Effective Date:</dt>
              <dd><%= @claim_calculation&.claim_handicap_percent_effective_date&.strftime("%b %d, %Y") %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% if @mira.present? %>
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default mira-tab-panel">
            <div class="panel-heading">
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                  <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview and Status</a>
                </li>
                <li role="presentation">
                  <a href="#icds" aria-controls="icds" role="tab" data-toggle="tab">ICDs</a>
                </li>
                <li role="presentation">
                  <a href="#employment" aria-controls="employment" role="tab" data-toggle="tab">Employment</a>
                </li>
                <li role="presentation">
                  <a href="#medical" aria-controls="medical" role="tab" data-toggle="tab">Medical</a>
                </li>
                <li role="presentation">
                  <a href="#indemnity" aria-controls="indemnity" role="tab" data-toggle="tab">Indemnity</a>
                </li>
              </ul>
              <div class="claim-number">
                Claim Number: <%= @claim_calculation.claim_number&.strip %>
              </div>
            </div>
            <div class="panel-body tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="overview">
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Injury Type</td>
                          <td><%= @claim_calculation&.claim_mira_ncci_injury_type %></td>
                        </tr>
                        <tr>
                          <td>Individual Total Modified Losses</td>
                          <td><%= number_to_currency(@claim_calculation&.claim_modified_losses_individual_reduced, precision: 0) %></td>
                        </tr>
                        <tr>
                          <td>Max Value</td>
                          <td><%= number_to_currency(@claim_calculation&.max_value, precision: 0) %></td>
                        </tr>
                        <tr>
                          <td>Claim Filing Date</td>
                          <td><%= @mira.claim_filing_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Gender</td>
                          <td><%= @mira.gender %></td>
                        </tr>
                        <tr>
                          <td>Marital Status</td>
                          <td><%= @mira.marital_status %></td>
                        </tr>
                        <tr>
                          <td>Injured Worker Represented</td>
                          <td><%= @mira.injured_worked_represented %></td>
                        </tr>
                        <tr>
                          <td>Claim Status</td>
                          <td><%= @mira.claim_status %></td>
                        </tr>
                        <tr>
                          <td>Claim Status Effective Date</td>
                          <td><%= @mira.claim_status_effective_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Claim Activity Status</td>
                          <td><%= @mira.claim_status_effective_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Claim Activity Status Effective Date</td>
                          <td><%= @mira.claim_activity_status_effective_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Claimant Zip Code</td>
                          <td><%= @mira.claimant_zip_code %></td>
                        </tr>
                        <tr>
                          <td>Catastrophic Claim</td>
                          <td><%= @mira.catastrophic_claim %></td>
                        </tr>
                        <tr>
                          <td>Reduction Amount</td>
                          <td><%= @mira.reduction_amount %></td>
                        </tr>
                        <tr>
                          <td>Reduction Reason</td>
                          <td><%= @mira.reduction_reason %></td>
                        </tr>
                        <tr>
                          <td>Industry Code</td>
                          <td><%= @mira.industry_code %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Claimant Name</td>
                          <td><%= @mira.claimant_name %></td>
                        </tr>
                        <tr>
                          <td>Claimant Date of Birth</td>
                          <td><%= @mira.claimant_date_of_birth.try(:strftime, "%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Date of Injury</td>
                          <td><%= @mira.claim_injury_date.try(:strftime, "%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Age at Injury</td>
                          <td><%= @mira.age_at_injury %></td>
                        </tr>
                        <tr>
                          <td>Claim Manual Number</td>
                          <td><%= @mira.claim_manual_number %></td>
                        </tr>
                        <tr>
                          <td>Claim Sub Manual Number</td>
                          <td><%= @mira.claim_sub_manual_number %></td>
                        </tr>
                        <tr>
                          <td>Claim Type</td>
                          <td><%= @mira.claim_type %></td>
                        </tr>
                        <tr>
                          <td>Claimant Date of Death</td>
                          <td><%= @mira.claimant_date_of_death&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Prediction Status</td>
                          <td><%= @mira.prediction_status %></td>
                        </tr>
                        <tr>
                          <td>Prediction Close Status Effective Date</td>
                          <td><%= @mira.prediction_close_status_effective_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Temporary Partial Payments</td>
                          <td><%= @mira.temporary_partial_payments %></td>
                        </tr>
                        <tr>
                          <td>Temporary Total Payments</td>
                          <td><%= @mira.temporary_total_payments %></td>
                        </tr>
                        <tr>
                          <td>Total Reserve Amount For Rates</td>
                          <td><%= @mira.total_reserve_amount_for_rates %></td>
                        </tr>
                        <tr>
                          <td>Non At Fault</td>
                          <td><%= @claim_calculation&.non_at_fault %></td>
                        </tr>
                        <tr>
                          <td>Is Combined</td>
                          <td><%= @claim_calculation&.claim_combined %></td>
                        </tr>
                        <tr>
                          <td>Combined into Claim Number</td>
                          <td><%= @claim_calculation&.combined_into_claim_number %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>
              <div role="tabpanel" class="tab-pane fade" id="icds" style="padding-top: 10px; padding-bottom: 10px;">
                <table class="table datatable table-striped">
                  <thead>
                    <tr>
                      <th width="25%">Primary ICD</th>
                      <th width="25%">Status</th>
                      <th width="25%">Code</th>
                      <th width="25%">Injury Location</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @claim_calculation.clicd_detail_records.each do |clicd_detail| %>
                      <tr>
                        <td><%= clicd_detail&.primary_icd %></td>
                        <td><%= clicd_detail&.icd_status_display %></td>
                        <td><%= clicd_detail&.icd_code %></td>
                        <td><%= clicd_detail&.icd_injury_location_code&.strip %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="employment">
                <table class="table table-striped table-bordered">
                  <tbody>
                    <tr>
                      <td>Average Weekly Wage</td>
                      <td><%= @mira.average_weekly_wage %></td>
                    </tr>
                    <tr>
                      <td>Claimant Hire Date</td>
                      <td><%= @mira.claim_hire_date&.strftime("%b %d, %Y") %></td>
                    </tr>
                    <tr>
                      <td>Salary Continuation</td>
                      <td><%= @mira.salary_continuation %></td>
                    </tr>
                    <tr>
                      <td>Last Date Worked</td>
                      <td><%= @mira.last_date_worked&.strftime("%b %d, %Y") %></td>
                    </tr>
                    <tr>
                      <td>Estimated Return To Work Date</td>
                      <td><%= @mira.estimated_return_to_work_date&.strftime("%b %d, %Y") %></td>
                    </tr>
                    <tr>
                      <td>Return To Work Date</td>
                      <td><%= @mira.return_to_work_date&.strftime("%b %d, %Y") %></td>
                    </tr>
                    <tr>
                      <td>Injury Or Litigation Type</td>
                      <td><%= @mira.injury_or_litigation_type %></td>
                    </tr>
                    <tr>
                      <td>Wage Loss Payments</td>
                      <td><%= @mira.wage_loss_payments %></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="medical">
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Chiropractor</td>
                          <td><%= @mira.chiropractor %></td>
                        </tr>
                        <tr>
                          <td>Physical Therapy</td>
                          <td><%= @mira.physical_therapy %></td>
                        </tr>
                        <tr>
                          <td>MMI Date</td>
                          <td><%= @mira.mmi_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Last Medical Date of Service</td>
                          <td><%= @mira.mmi_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Total Medical Paid</td>
                          <td><%= @mira.total_medical_paid %></td>
                        </tr>
                        <tr>
                          <td>Total Medical Reserve Amount</td>
                          <td><%= @mira.total_medical_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Medical Ambulance Payments</td>
                          <td><%= @mira.medical_ambulance_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Clinic or Nursing Home Payments</td>
                          <td><%= @mira.medical_clinic_or_nursing_home_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Court Cost Payments</td>
                          <td><%= @mira.medical_court_cost_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Doctors Payments</td>
                          <td><%= @mira.medical_doctors_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Reserve Prediction</td>
                          <td><%= @mira.medical_reserve_prediction %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Medical Drug and Pharmacy Payments</td>
                          <td><%= @mira.medical_drug_and_pharmacy_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Emergency Room Payments</td>
                          <td><%= @mira.medical_emergency_room_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Funeral Payments</td>
                          <td><%= @mira.medical_funeral_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Hospital Payments</td>
                          <td><%= @mira.medical_hospital_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Device Payments</td>
                          <td><%= @mira.medical_medical_device_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Misc. Payments</td>
                          <td><%= @mira.medical_misc_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Nursing Services Payments</td>
                          <td><%= @mira.medical_nursing_services_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Prostheses Device Payments</td>
                          <td><%= @mira.medical_prostheses_device_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Prostheses Exam Payments</td>
                          <td><%= @mira.medical_prostheses_exam_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical Travel Payments</td>
                          <td><%= @mira.medical_travel_payments %></td>
                        </tr>
                        <tr>
                          <td>Medical X-Rays And Radiology Payments</td>
                          <td><%= @mira.medical_x_rays_and_radiology_payments %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="indemnity">
                <div class="row">
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Last Indemnity Period End Date</td>
                          <td><%= @mira.mmi_date&.strftime("%b %d, %Y") %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Change of Occupation Payments</td>
                          <td><%= @mira.indemnity_change_of_occupation_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Change of Occupation Reserve Prediction</td>
                          <td><%= @mira.indemnity_change_of_occupation_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Change of Occupation Reserve Amount</td>
                          <td><%= @mira.indemnity_change_of_occupation_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Death Benefit Payments</td>
                          <td><%= @mira.indemnity_death_benefit_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Death Benefit Reserve Prediction</td>
                          <td><%= @mira.indemnity_death_benefit_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Death Benefit Reserve Amount</td>
                          <td><%= @mira.indemnity_death_benefit_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Facial Disfigurement Payments</td>
                          <td><%= @mira.indemnity_facial_disfigurement_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Facial Disfigurement Reserve Prediction</td>
                          <td><%= @mira.indemnity_facial_disfigurement_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Facial Disfigurement Reserve Amount</td>
                          <td><%= @mira.indemnity_facial_disfigurement_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Living Maintenance Payments</td>
                          <td><%= @mira.indemnity_living_maintenance_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Living Maintenance Wage Loss Payments</td>
                          <td><%= @mira.indemnity_living_maintenance_wage_loss_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Living Maintenance Reserve Prediction</td>
                          <td><%= @mira.indemnity_living_maintenance_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Living Maintenance Reserve Amount</td>
                          <td><%= @mira.indemnity_living_maintenance_reserve_amount %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table class="table table-striped table-bordered">
                      <tbody>
                        <tr>
                          <td>Indemnity Permanent Partial Payments</td>
                          <td><%= @mira.indemnity_permanent_partial_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Percent Permanent Partial Payments</td>
                          <td><%= @mira.indemnity_percent_permanent_partial_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Percent Permanent Partial Reserve Prediction</td>
                          <td><%= @mira.indemnity_percent_permanent_partial_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Percent Permanent Partial Reserve Amount</td>
                          <td><%= @mira.indemnity_percent_permanent_partial_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity PTD Payments</td>
                          <td><%= @mira.indemnity_ptd_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity PTD Reserve Prediction</td>
                          <td><%= @mira.indemnity_ptd_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity PTD Reserve Amount</td>
                          <td><%= @mira.indemnity_ptd_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Temporary Toal Reserve Prediction</td>
                          <td><%= @mira.indemnity_temporary_total_reserve_prediction %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Temporary Total Reserve Amount</td>
                          <td><%= @mira.indemnity_temporary_total_reserve_amount %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Lump Sum Settlement Payments</td>
                          <td><%= @mira.indemnity_lump_sum_settlement_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Attorney Fee Payments</td>
                          <td><%= @mira.indemnity_attorney_fee_payments %></td>
                        </tr>
                        <tr>
                          <td>Indemnity Other Benefit Payments</td>
                          <td><%= @mira.indemnity_other_benefit_payments %></td>
                        </tr>
                        <tr>
                          <td>Total Indemnity Paid Amount</td>
                          <td><%= @mira.total_indemnity_paid_amount %></td>
                        </tr>
                        <tr>
                          <td>Total Indemnity Reserve Amount</td>
                          <td><%= @mira.total_indemnity_reserve_amount %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div style="margin-bottom: 50px;"></div>

  <%= render 'notes' %>

  <div style="margin-bottom: 50px;"></div>

  <script>
    $(function () {
      $('.datatable').DataTable({
        order: [[0, 'desc']]
      });

      $('.note-datatable').DataTable({
        order:      [[0, 'asc']],
        columnDefs: [{ targets: -1, orderable: false }]
      });
    });
  </script>
<% end %>

<%= render 'address_modal' %>