<%= content_tag_for :div, @claim_calculation do %>
  <div class="container">
    <%= render 'shared/account_navbar', object: @account %>
  </div>

  <div class="container claim-container">
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Claim Information for: <%= @claim_calculation&.claimant_name&.titleize %></div>
          <div class="panel-body">
            <table style="width:100%;">
              <tbody>
                <tr>
                  <td class="text-bold">IW Name:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.claimant_name&.titleize %>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Address:</td>
                  <td class="text-right">
                    <%= simple_format(@claim_calculation.address&.address, {}, wrapper_tag: :div) %>
                  </td>
                  <td class="text-right">
                    <button class="btn btn-transparent text-primary" style="display: inline-block;" data-toggle="modal" data-target="#address-modal"><i class="fa fa-edit"></i></button>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Claim Number:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.claim_number %>
                  </td>
                </tr>
                <tr>
                  <td class="text-bold">Date of Injury:</td>
                  <td class="text-right" colspan="2">
                    <%= @claim_calculation&.mira_detail_record&.claim_injury_date.try(:strftime, "%b %d, %Y") %>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Medical</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_medical_paid, precision: 0) %></dd>

              <dt>Last Paid Date:</dt>
              <dd><%= @claim_calculation&.medical_last_paid_date&.strftime("%b %d, %Y") %></dd>

              <dt>Reserve:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_medical_reserve_amount, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            Indemnity
            <%= link_to 'Export', claim_calculation_export_path(@claim_calculation, format: :pdf), class: 'btn btn-sm btn-success pull-right', target: '_blank', style: 'margin-top: -5px;' %>
          </div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Reducible Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_reducible_indemnity_paid, precision: 0) %></dd>

              <% unless @claim_calculation&.claim_mira_non_reducible_indemnity_paid.zero? %>
                <dt>Non Reducible Amount 1:</dt>
                <dd><%= number_to_currency(@claim_calculation&.claim_mira_non_reducible_indemnity_paid, precision: 0) %></dd>
              <% end %>

              <% unless @claim_calculation&.claim_mira_non_reducible_indemnity_paid_2.zero? %>
                <dt>Non Reducible Amount 2:</dt>
                <dd><%= number_to_currency(@claim_calculation&.claim_mira_non_reducible_indemnity_paid_2, precision: 0) %></dd>
              <% end %>

              <dt>Last Paid Date:</dt>
              <dd><%= @claim_calculation&.indemnity_last_paid_date&.strftime("%b %d, %Y") %></dd>

              <dt>Reserve:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_mira_indemnity_reserve_amount, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Subrogation</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Percentage:</dt>
              <dd><%= number_to_percentage(@claim_calculation&.claim_subrogation_percent * 100, precision: 0) %></dd>

              <dt>Amount:</dt>
              <dd><%= number_to_currency(@claim_calculation&.claim_total_subrogation_collected, precision: 0) %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Settlement</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Is Settled:</dt>
              <dd><%= @claim_calculation&.settled_claim %></dd>

              <dt>Type:</dt>
              <dd><%= @claim_calculation&.settlement_type %></dd>

              <dt>Medical Settlement Date:</dt>
              <dd><%= @claim_calculation&.medical_settlement_date&.strftime("%b %d, %Y") %></dd>

              <dt>Indemnity Settlement Date:</dt>
              <dd><%= @claim_calculation&.indemnity_settlement_date&.strftime("%b %d, %Y") %></dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-primary">
          <div class="panel-heading">Handicap</div>
          <div class="panel-body">
            <dl class="dl-horizontal">
              <dt>Percentage:</dt>
              <dd><%= number_to_percentage(@claim_calculation&.claim_handicap_percent * 100, precision: 0) %></dd>

              <dt>Effective Date:</dt>
              <dd><%= @claim_calculation&.claim_handicap_percent_effective_date&.strftime("%b %d, %Y") %></dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% if @mira.present? %>
      <%= render partial: 'mira_data' %>
    <% end %>
  </div>

  <div style="margin-bottom: 50px;"></div>

  <%= render 'notes' %>

  <div style="margin-bottom: 50px;"></div>

  <% if @affiliates.any? %>
    <%= render 'affiliates' %>

    <div style="margin-bottom: 50px;"></div>
  <% end %>

  <script>
    $(function () {
      $('.datatable').DataTable({
        order: [[0, 'desc']]
      });

      $('.note-datatable').DataTable({
        order:      [[0, 'asc']],
        columnDefs: [{ targets: -1, orderable: false }]
      });
    });
  </script>
<% end %>

<%= render 'address_modal' %>