<% manual_class = f.object %>
<%= link_to_remove_association "Remove Manual Class Change", f %>

<div class="row">
  <div class="col-md-4">
    <input type="hidden" title="manual_class_id" name="rates[manual_classes][][id]" value="<%= manual_class.id %>"/>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="manual_class_from">Policy Year:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" title="manual_class_policy_year" name="rates[manual_classes][][policy_year]" value="<%= manual_class.policy_year %>"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="manual_class_from">Manual Class From:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" title="manual_class_from" name="rates[manual_classes][][manual_class_from]" value="<%= manual_class.manual_class_from %>"/>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-6 control-label" for="manual_class_to">Manual Class To:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control" title="manual_class_to" name="rates[manual_classes][][manual_class_to]" value="<%= manual_class.manual_class_to %>"/>
      </div>
    </div>
  </div>
</div>
<hr>