<div class="container" style="margin-bottom: 100px;">
  <div class="jumbotron">
    <h1 class="text-center">Current Rates In Use</h1>
  </div>

  <div class="clearfix" style="margin-bottom: 25px;">
    <div class="pull-left">
      <select class="form-control" id="historical-select" title="Historical Year Selection">
        <option value="">-- Select Historical Year --</option>
        <% @historical_years.each do |year| %>
          <% if @year.present? && @year == year %>
            <option selected="selected" value="<%= year %>">Historical Year: <%= year %></option>
          <% else %>
            <option value="<%= year %>">Historical Year: <%= year %></option>
          <% end %>
        <% end %>
      </select>
    </div>
    <div class="pull-right">
      <button class="btn btn-success rate-toggle">
        Update Rates
      </button>
    </div>
  </div>

  <div id="rates-collapse">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#base-rates" aria-controls="base-rates" role="tab" data-toggle="tab">NCCI Base Rates</a>
      </li>
      <li role="presentation">
        <a href="#expected-loss-rates" aria-controls="expected-loss-rates" role="tab" data-toggle="tab">Expected Loss Rates</a>
      </li>
      <li role="presentation">
        <a href="#limited-loss-rates" aria-controls="limited-loss-rates" role="tab" data-toggle="tab">Limited Loss Rates</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="base-rates" style="padding-top: 25px;">
        <%= render 'base_rates' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="expected-loss-rates" style="padding-top: 25px;">
        <%= render 'expected_loss_rates' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="limited-loss-rates" style="padding-top: 25px;">
        <%= render 'limited_loss_rates' %>
      </div>
    </div>
  </div>

  <div id="upload-rates" style="margin-top: 15px; display: none;">
    <%= form_for :rates, multipart: true do |f| %>
      <h2>Update Rates</h2>
      <h5 class="text-bold"><em>*All fields are optional and only the field(s) with data will have its rates updated.</em></h5>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-6">
              <dl>
                <dt>Current Administrative Rate</dt>
                <dd><%= @administrative_rate.try(:rate) %></dd>
              </dl>

              <%= f.label :administrative_rate, 'New Administrative Rate', class: 'form-control-label' %>
              <%= f.number_field :administrative_rate, class: 'form-control', step: 0.0001 %>
            </div>
            <div class="form-group col-md-6">
              <dl>
                <dt>Current Administrative Start Rate</dt>
                <dd><%= @administrative_rate&.start_date.present? ? l(@administrative_rate&.start_date) : '' %></dd>
              </dl>

              <%= f.label :administrative_rate_start_date, 'New Administrative Rate Start Date', class: 'form-control-label' %>
              <%= f.text_field :administrative_rate_start_date, class: 'form-control' %>
            </div>
          </div>

          <hr>

          <div class="form-group">
            <%= f.label :base_rates_file, 'Update Base and Expected Loss Rates', class: 'form-control-label' %>
            <%= f.file_field :base_rates_file, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :limited_loss_rates_file, 'Update Limited Loss Rates', class: 'form-control-label' %>
            <%= f.file_field :limited_loss_rates_file, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="row">
            <div class="form-group col-md-6">
              <table class="table table-sm table-bordered table-condensed">
                <thead>
                  <tr>
                    <th>Industry Group</th>
                    <th>Retro Discount Tier</th>
                  </tr>
                </thead>
                <tbody>
                  <% @retro_tiers.each do |retro_tier| %>
                    <tr>
                      <td><%= retro_tier.industry_group %></td>
                      <td><%= retro_tier.discount_tier %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>

            </div>
            <div class="form-group col-md-6">
              <% @retro_tiers.each do |retro_tier| %>
                <div class="form-group">
                  <input type="hidden" name="rates[retro_tiers][][industry_group]" value="<%= retro_tier.industry_group %>"/>
                  <label for="rates_retro_tiers_discount_tier" class="form-control-label"><%= 'New Industry Group ' + retro_tier.industry_group.to_s + ' Discount Rate' %></label>
                  <input type="number" step="0.01" title="rates_retro_tiers_discount_tier" name="rates[retro_tiers][][discount_tier]" class="form-control"/>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group text-right">
        <button class="btn btn-danger rate-toggle" type="button">
          Cancel
        </button>

        <%= f.submit 'Update', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>

<style>
  input[type='file'].form-control {
    height: unset;
  }
</style>

<script type="application/javascript">
  $(function () {
    $('.datatable').DataTable({
      order: [[1, 'asc']]
    });

    $('#historical-select').change(function () {
      window.location.href = '/manage/rates?year=' + $(this).val();
    });

    $('.rate-toggle').click(function () {
      var $ratesCollapse  = $('#rates-collapse'),
          $updateCollapse = $('#upload-rates'),
          $yearSelect     = $('#historical-select');

      if ($ratesCollapse.hasClass('hiding')) {
        $(this).text('Update Rates');
        $ratesCollapse.removeClass('hiding');
        $yearSelect.removeClass('hiding');
        $yearSelect.show();
        $ratesCollapse.show();

        $updateCollapse.addClass('hiding');
        $updateCollapse.hide();
      } else {
        $(this).text('Show Rates');
        $ratesCollapse.addClass('hiding');
        $yearSelect.addClass('hiding');
        $yearSelect.hide();
        $ratesCollapse.hide();

        $updateCollapse.removeClass('hiding');
        $updateCollapse.show();
      }
    });

    $('#rates_administrative_rate_start_date').datetimepicker({
      format:     'MM/DD/YYYY',
      useCurrent: false
    });
  });
</script>