<div class="container">
  <div class="jumbotron">
    <h1 class="text-center">Current Rates In Use</h1>
  </div>

  <div class="clearfix">
    <div class="pull-right">
      <button class="btn btn-success rate-toggle">
        Update Rates
      </button>
    </div>
  </div>

  <div id="rates-collapse">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#base-rates" aria-controls="base-rates" role="tab" data-toggle="tab">NCCI Base Rates</a>
      </li>
      <li role="presentation">
        <a href="#expected-loss-rates" aria-controls="expected-loss-rates" role="tab" data-toggle="tab">Expected Loss Rates</a>
      </li>
      <li role="presentation">
        <a href="#limited-loss-rates" aria-controls="limited-loss-rates" role="tab" data-toggle="tab">Limited Loss Rates</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="base-rates" style="padding-top: 25px;">
        <%= render 'base_rates' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="expected-loss-rates" style="padding-top: 25px;">
        <%= render 'expected_loss_rates' %>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="limited-loss-rates" style="padding-top: 25px;">
        <%= render 'limited_loss_rates' %>
      </div>
    </div>
  </div>

  <div id="upload-rates" style="margin-top: 15px; display: none;">
    <%= form_for :rates, multipart: true do |f| %>
      <h2>Update Rates</h2>
      <br>
      <h4>Both fields are optional and only the field(s) with a file uploaded will have its rates updated.</h4>

      <br>
      <div class="row">
        <div class="form-group col-md-6">
          <%= f.label :base_rates_file, 'Update Base and Expected Loss Rates' %>
          <%= f.file_field :base_rates_file %>
        </div>

        <div class="form-group col-md-6">
          <%= f.label :limited_loss_rates_file, 'Update Limited Loss Rates' %>
          <%= f.file_field :limited_loss_rates_file %>
        </div>
      </div>

      <div class="form-group text-right">
        <button class="btn btn-danger rate-toggle" type="button">
          Cancel
        </button>

        <%= f.submit 'Update', class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>

<script type="application/javascript">
  $(function () {
    $('.datatable').DataTable({
      order: [[1, 'asc']]
    });

    $('.rate-toggle').click(function () {
      var $ratesCollapse  = $('#rates-collapse');
      var $updateCollapse = $('#upload-rates');

      if ($ratesCollapse.hasClass('hiding')) {
        $ratesCollapse.removeClass('hiding');
        $ratesCollapse.show();

        $updateCollapse.addClass('hiding');
        $updateCollapse.hide();
      } else {
        $ratesCollapse.addClass('hiding');
        $ratesCollapse.hide();

        $updateCollapse.removeClass('hiding');
        $updateCollapse.show();
      }
    });
  });
</script>