<%= flash[:notice] %>

<p>
  Total Democ Single_rec = <%= @democs_count %>
</p>



<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_democs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>
