<div id="filter_accounts">
  <div>
    <%= page_entries_info accounts %>
  </div>

  <table class="table table-hover" id="accountTable">
    <thead>
      <tr class="header">
        <th>Policy Number</th>
        <th>Account Name</th>
        <th>Account Status</th>
        <th>Employer Type</th>
        <th>Policy Status</th>
        <th>Representative</th>
        <th>Updated Date</th>
      </tr>
    </thead>
    <tbody>
      <% accounts.order(representative_id: :asc, status: :asc, name: :asc).each do |account| %>
        <tr>
          <td><%= link_to "#{account.policy_number_entered}", account_path(account.id), class: 'btn btn-info' %> </td>
          <td><%= account.try(:name).try(:titleize) %> </td>
          <td><%= account.status.humanize %> </td>
          <td><%= account.policy_calculation&.employer_type&.upcase %> </td>
          <td><%= account.policy_calculation&.current_coverage_status %></td>
          <td><%= account.representative.abbreviated_name %></td>
          <td><%= account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
        </tr>
      <% end %>

    </tbody>
  </table>

  <%= will_paginate accounts %>
</div>
