<div class="container">
  <%= render partial: "shared/account_navbar", locals: { object: @account } %>
  <%= link_to 'Back', :back, class: 'btn btn-primary' %>
  <br>
  <div class="jumbotron text-center">
    <h1>Override Group Retro</h1>
      <%= form_for :account , :url => account_group_retro_calc_path(@account) do |f| %>
      <div class="row">
          <div class="col-md-2">
            <%= f.label 'Qualification' %>
            <%= f.select :group_retro_qualification, options_for_select(@group_retro_qualifications.collect { |s| [s[0].humanize, s[0]] }, selected: :auto_run), {} , class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.label 'Discount Tier' %>

            <%= f.select :group_retro_tier, options_for_select(BwcCodesGroupRetroTier.pluck(:discount_tier).uniq, selected: @account.group_retro_tier), {include_blank: true}, class: "form-control" %>
          </div>

          <div class="col-md-2">
            <%= f.label 'Industry_group' %>
            <%= f.number_field :industry_group, class: "form-control" %>
          </div>

          <div class="col-md-2">
            <%= f.label 'Group Fees' %>
            <p><%= number_to_currency(@account.try(:group_fees)) %></p>
          </div>

          <div class="col-md-2">
            <%= f.label 'Fees Override' %>
            <%= f.number_field :fee_override, class: "form-control", value: @account.fee_override, min: 0, step: 0.01   %>
          </div>

      </div>
      <br>
      <div class="col-md-12" >
        <%= f.submit 'Calculate Group Retro', class: 'btn btn-info' %>
      </div>
      <% end %>

    </div>

  </div>
