<div class="container">
  <div class="jumbotron text-center">
    <h1>All Accounts</h1>
    <%= link_to 'Create New Account', new_account_path, class: 'btn btn-primary' %>
  </div>

  <%= form_tag(accounts_path, :method => "get", id: "search-form") do %>
      <div class="form-inline">
        <div class="form-group">
          <%= select_tag(:representative_number, options_from_collection_for_select(@representatives, :representative_number, :abbreviated_name, params[:representative_number]), include_blank: "All Representatives", class: 'dropdown-toggle form-control')%>
        </div>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search Policy Number" %>
        </div>
      <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
    </div>
  <% end %>


  <div>
    <%= will_paginate @accounts %>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Policy Number</th>
          <th>Account Name</th>
          <th>Status</th>
          <th>Group Rating Qualification</th>
          <th>Reprentative</th>
          <th>Updated Date</th>
        </tr>
      </thead>
      <tbody>
        <% @accounts.order("representative_id asc, status desc, name asc").each do |account| %>
        <tr>
          <td><%= link_to "#{account.policy_calculation.policy_number}",account_path(account.id), class: 'btn btn-info' %> </td>
          <td><%= account.name %> </td>
          <td><%= account.status.humanize %> </td>
          <td><%= account.group_rating_qualification %></td>
          <td><%= @representatives.find(account.representative_id).abbreviated_name %></td>
          <td><%= account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
    <%= will_paginate @accounts %>
  </div>


</div>
