<%= content_tag_for :div, @account do %>
  <%= render partial: "shared/account_navbar", locals: { object: @account } %>
  <div class="container">
    <div class="jumbotron text-center">
      <div class="row">
        <div class="col-md-3">
          <h3><small>Policy Number:</small></h3>
          <h3><%= @account.policy_calculation.policy_number %></h3>
          <h3><small>Representative:</small></h3>
          <h4><%= @account.representative.company_name %></h4>
        </div>
        <div class="col-md-6">
          <h3><small>Acccount:</small></h3>
          <h3><%= @account.name.titleize %></h3>
          <h3><small>Address:</small></h3>
          <h4><%=  @account.street_address.titleize %>, <%=  @account.street_address_2.titleize %></h4>
          <h4> <%=  @account.city.titleize %>, <%= @account.state %> <%= @account.zip_code %></h4>
        </div>
        <div class="col-md-3">
          <h3><small>Account Status:</small></h3>
          <h3><%= @account.status %></h3>
          <h3><small>Updated On:</small></h3>
          <h4><%= @account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y %I:%M %p") %></h4>
        </div>
      </div>
      <%= link_to "Edit Account Info", edit_account_path(params[:id]), class: 'btn btn-primary' %>
    </div>
  </div>

  <!-- <div class="container">
    <div class="page-header">
      <div class="row">
        <div class="col-md-12">
          <h1> <small>Policy: </small><%= @account.policy_calculation.policy_number %> <small>|</small> <small>Account: </small><%= @account.name.titleize %></h1>
          <h3><%= @account.policy_calculation.policy_number %></h3>
        </div>
      </div>
        <div class="col-md-6">
          <h3><small>Acccount:</small></h3>
          <h3><%= @account.name.titleize %></h3>
          <h3><small>Address:</small></h3>
          <h4><%=  @account.street_address.titleize %>, <%=  @account.street_address_2.titleize %></h4>
          <h4> <%=  @account.city.titleize %>, <%= @account.state %> <%= @account.zip_code %></h4>
        </div>
        <div class="col-md-3">
          <h3><small>Account Status:</small></h3>
          <h3><%= @account.status %></h3>
          <h3><small>Updated On:</small></h3>
          <h4><%= @account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y %I:%M %p") %></h4>
        </div>
      </div>
      <%= link_to "Edit Account Info", edit_account_path(params[:id]), class: 'btn btn-primary' %>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <%= render partial: 'affiliates/affiliates', locals: { account: @account, affiliates: @affiliates} %>
    </div>
    <div class="row">
      <%= render partial: 'contacts/contacts', locals: { account: @account, contacts: @contacts} %>
    </div>
  </div>

  <br>
  <div class="container">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Reports
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li><a href="https://s3.amazonaws.com/grouprating/Images/ReportRiskReport.tiff">Risk Report</a></li>
        <li><a href="https://s3.amazonaws.com/grouprating/Images/ReportSavingsSummary.tiff">Savings Summary</a></li>
        <li><a href="https://s3.amazonaws.com/grouprating/Images/ReportGroupPacket.tiff">Group Packet</a></li>
        <li><a href="https://s3.amazonaws.com/grouprating/Images/RepoortGroupRetro.tiff">Group Retro Packet</a></li>
        <li><a href="https://s3.amazonaws.com/grouprating/Images/ReportROCReport.tiff">ROC Report</a></li>
      </ul>
  <% unless @account.predecessor? || @account.invalid_policy_number? %>
    <%= link_to "Manually Process", account_edit_group_rating_path(params[:id]), class: 'btn btn-primary', method: :get %>
  <% end %>
  <%= link_to "Change History", versions_path(item_id: @account.id, item_type: @account.class.name), class: 'btn btn-info', method: :get %>
</div>

<div class="container">
    <div class="row">
      <h3>Current Year Program Qualification</h3>
      <% if @account.user_override %>
      <p>USER OVERRIDE <input type="checkbox" checked="checked" disabled></p>
      <% end %>
        <div class="row">
          <% unless @account.group_rating_exceptions.empty? %>
            <h4>Group Rating Exceptions:</h4>
            <% @account.group_rating_exceptions.each do |exception| %>
              <div class="col-md-4">
                <h5><%= exception.exception_reason.humanize %></h5>
              </div>
            <% end %>
          <% end %>
        </div>

    <!-- <div class="row">
         <% unless @account.accept? %>
          <div class="col-md-12">
            <p>Rejections:</p>
            <h5><% @account.group_rating_rejections.each do |rejection| %>
                <%= rejection.reject_reason %>,
                <% end %>
            </h5>
          </div>
        <% end %>

        <div class="col-md-2">
          <p>Qualification:</p>
          <h5><%= @account.group_rating_qualification %></h5>
        </div>
        <div class="col-md-2">
          <p>Discount Tier:</p>
          <h5><%= @account.group_rating_tier %></h5>
        </div>
        <div class="col-md-2">
          <p>Premium:</p>
          <h5><%= number_to_currency(@account.group_premium) %></h5>
        </div>
        <div class="col-md-2">
          <p>Savings:</p>
          <h5><%= number_to_currency(@account.group_savings) %></h5>
        </div>
        <div class="col-md-2">
          <p>Fees:</p>
          <h5><%= number_to_currency(@account.group_fees) %></h5>
        </div>
    </div> -->
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Program</th>
          <th>Qualification</th>
          <th>Discount</th>
          <th>Premium</th>
          <th>Savings</th>
          <th>Fees</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Group Rating</td>
          <td><%= link_to @account.group_rating_qualification, '#', "data-toggle" => "modal", "data-target" => "#rejectModal", "data-rejections" => @account.group_rating_rejections %> </td>
          <td><%= @account.group_rating_tier %> </td>
          <td><%= number_to_currency(@account.group_premium) %></td>
          <td><%= number_to_currency(@account.group_savings) %></td>
          <td><%= number_to_currency(@account.group_fees) %> </td>
          <% if  @account.group_rating_qualification == 'accept'  %>
            <td><%= link_to 'Enroll','#', class:'btn btn-info' %> </td>
          <% else %>
            <td><%= link_to 'Enroll','#', class:'btn btn-info disabled' %> </td>
          <% end %>
        </tr>
        <tr>
          <td>Group Retro</td>
          <td><%= link_to 'accept' %></td>
          <td>-.30</td>
          <td><%= number_to_currency(@account.policy_calculation.policy_total_individual_premium * 0.7) %></td>
          <td><%= number_to_currency(@account.policy_calculation.policy_total_individual_premium - (@account.policy_calculation.policy_total_individual_premium * 0.7)) %></td>
          <td><%= number_to_currency(@account.group_fees) %> </td>
          <td><%= link_to 'Enroll','#', class:'btn btn-info' %> </td>
        </tr>
        <tr>
          <td>Individual Retro</td>
          <td><%= link_to 'reject' %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td><%= link_to 'Enroll','#' ,class: 'btn btn-info disabled'%> </td>
        </tr>
        <tr>
          <td>One Claim</td>
          <td><%= link_to 'reject' %></td>
          <td></td>
          <td></td>
          <td></td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td><%= link_to 'Enroll','#' ,class: 'btn btn-info disabled'%> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<div class="container">
    <div class="row">
      <h3>Program History</h3>
    <table class="table table-hover table-striped">
      <thead>
        <tr>
          <th>Eff Date</th>
          <th>End Date</th>
          <th>Program</th>
          <th>Fee</th>
          <th>Paid</th>
          <th>Invoice Number</th>
          <th>AC2 Date</th>
          <th>Contract Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= Date.parse("2016-07-01").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2017-06-30").strftime("%-m/%-d/%y")  %></td>
          <td>Group Rating</td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td><%= number_to_currency(0) %></td>
          <td>ARM100120</td>
          <td><%= Date.parse("2016-03-30").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2016-03-30").strftime("%-m/%-d/%y")  %></td>
          <td><%= link_to 'View' %></td>
        </tr>
        <tr>
          <td><%= Date.parse("2015-07-01").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2016-06-30").strftime("%-m/%-d/%y")  %></td>
          <td>Group Rating</td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td>ARM050020</td>
          <td><%= Date.parse("2015-03-30").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2015-03-30").strftime("%-m/%-d/%y")  %></td>
          <td><%= link_to 'View' %></td>
        </tr>
        <tr>
          <td><%= Date.parse("2014-07-01").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2015-06-30").strftime("%-m/%-d/%y")  %></td>
          <td>Group Rating</td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td><%= number_to_currency(@account.group_fees) %></td>
          <td>ARM000984</td>
          <td><%= Date.parse("2014-04-26").strftime("%-m/%-d/%y")  %></td>
          <td><%= Date.parse("2014-04-15").strftime("%-m/%-d/%y")  %></td>
          <td><%= link_to 'View' %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="rejectModal" role="dialog">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Program Rejections</h4>
        </div>
        <div class="modal-body">
          <ul>
          <% if @account.group_rating_rejections.empty? %>
              <h3>No Rejections</h3>
          <% else %>
            <% @account.group_rating_rejections.find_each do |reject| %>
              <li><%= reject.reject_reason.humanize %></li>
            <% end %>
          <% end %>
          </ul>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render partial: 'policy_calculations/policy_snapshot', locals: { policy_calculation: @policy_calculation, account: @account} %>


<% end %>
