<%= content_tag_for :div, @account do %>
  <div class="container">
    <div class="row">

    </div>
  </div>

  <div class="container jumbotron">
      <div class="row">
        <div class="col-md-12">
          <%= link_to "Edit Account Info", edit_account_path(params[:id]), class: 'btn btn-primary' %>

        </div>

        <div class="col-md-4">
          <p>Account:</p>
          <h3><%= @account.name %></h3>
        </div>

        <div class="col-md-3">
          <p>Representative:</p>
          <h3><%= @representative.company_name %></h3>
        </div>
        <div class="col-md-3">
          <p>Status:</p>
          <h3><%= @account.status %></h3>
        </div>

      </div>

    <br>
    <div class="row">
      <div class="col-md-3">
        <p>Business Address:</p>
        <h5><%= @account.street_address %></h5>
        <h5><%= @account.street_address_2 %></h5>
        <h5><%= @account.city %>, <%= @account.state %> <%= @account.zip_code %></h5>
      </div>
      <div class="col-md-3">
        <p>Business Phone Number:</p>
        <h5><%= number_to_phone(@account.business_phone_number) %></h5>
      </div>
      <div class="col-md-3">
        <p>Business Email:</p>
        <h5><%= @account.business_email_address %></h5>
      </div>
      <div class="col-md-3">
        <p>Website:</p>
        <h5><%= @account.website_url %></h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <p>Updated At</p>
        <h5> <%= @account.updated_at.in_time_zone("America/New_York").strftime("%m/%d/%y @ %I:%M %p") %> </h5>
      </div>
    </div>
  </div>
  <br>



  <div class="container">
    <div class="row">
          <%= render partial: 'affiliates/affiliate', locals: { account: @account, affiliates: @affiliates} %>
    </div>
  </div>

  <div class="container">
    <% unless @account.predecessor? %>
      <%= link_to "Calc Group Rating", account_edit_group_rating_path(params[:id]), class: 'btn btn-primary', method: :get %>
      <%= link_to "Change History", versions_path(item_id: @account.id, item_type: @account.class.name), class: 'btn btn-info', method: :get %>
    <% end %>
    <div class="row">
      <% unless @account.group_rating_exceptions.empty? %>
        <h3>Group Rating Exceptions</h3>
        <% @account.group_rating_exceptions.each do |exception| %>
          <div class="col-md-4">
            <h5><%= exception.exception_reason.humanize %></h5>
          </div>
        <% end %>
      <% end %>
    </div>








    <div class="row">
      <h3>Group Rating Information</h3>
        <p>
          USER OVERRIDE
        <% if @account.user_override %>
          <input type="checkbox" checked="checked" disabled>
        <% else %>
          <input type="checkbox" disabled>
        <% end %>
      </p>

        <% unless @account.accept? %>
          <div class="col-md-12">
            <p>Rejections:</p>
            <h5><% @account.group_rating_rejections.each do |rejection| %>
                <%= rejection.reject_reason %>,
                <% end %>
            </h5>
          </div>
        <% end %>
        <div class="col-md-2">
          <p>Qualification:</p>
          <h5><%= @account.group_rating_qualification %></h5>
        </div>

        <div class="col-md-2">
          <p>Discount Tier:</p>
          <h5><%= @account.group_rating_tier %></h5>
        </div>
        <div class="col-md-2">
          <p>Group Number:</p>
          <h5><%= @account.group_rating_group_number %></h5>
        </div>
        <div class="col-md-2">
          <p>Premium:</p>
          <h5><%= number_to_currency(@account.group_premium) %></h5>
        </div>
        <div class="col-md-2">
          <p>Savings:</p>
          <h5><%= number_to_currency(@account.group_savings) %></h5>
        </div>
        <div class="col-md-2">
          <p>Fees:</p>
          <h5><%= number_to_currency(@account.group_fees) %></h5>
        </div>

    </div>


  </div>



<%= render partial: 'policy_calculations/policy_snapshot', locals: { policy_calculation: @policy_calculation, account: @account} %>


<% end %>
